[2021-06-01 18:34] sejalvasan opened #1 "Create About Us Page"
An About page that describes the essence of the website.
The thought process that went behind Musicophilia, the impact of this website on the user.
Importance of music and dance on an everyday basis, and how it makes everything better.
All the important information, along with pictures to make the content look more interesting and interactive.

[2021-06-01 18:47] sejalvasan commented on #1
Can I please work on this issue?

[2021-06-02 05:56] Jagannath8 commented on #1
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 06:45] nilisha-jais commented on #1
Hey @sejalvasan and @Jagannath8 you people can surely work on the issue but the coding phase starts from 10th onwards. Have patience till then. I'll be even adding new issues by the end of this week.

[2021-06-02 11:26] nilisha-jais opened #2 "Revamp the home page"
Modify index.html file. Change the navbar, footer and UI of the page

[2021-06-02 11:26] nilisha-jais opened #3 "Add a contact us page"

[2021-06-02 11:29] nilisha-jais opened #4 "Add levels in the memory game"
Add an easy, medium and hard level in the game where the easy level has the least number of cards and hard level the most number of cards.

[2021-06-03 11:00] kumarishalini6 commented on #2
@nilisha-jais  I want to work on this issue i am participant of LGM-SOC'21 .

[2021-06-03 11:01] kumarishalini6 commented on #3
@nilisha-jais can I work on this issue under LGM-SOC'21 participant

[2021-06-03 12:20] Jagannath8 commented on #3
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-03 12:22] Jagannath8 commented on #2
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-03 12:38] akshatvirmani opened #5 "Adding contributor's name in Readme file"
I would like to work on this issue. Kindly assign this to me under LGM SOC.

[2021-06-03 12:39] akshatvirmani opened #6 "Adding tech stack in Readme file"
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 12:39] akshatvirmani opened #7 "Updating Readme file"
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 12:40] akshatvirmani opened #8 "Adding more songs in music box."
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 12:41] akshatvirmani opened #9 "Adding new instrument images in band"
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 12:42] akshatvirmani opened #10 "Adding background in piano"
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 12:43] akshatvirmani opened #11 "Adding more instruments in band"
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 12:45] akshatvirmani opened #12 "Updating the images of memory game"
I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-03 13:04] Jagannath8 commented on #4
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-03 18:50] Jagannath8 commented on #10
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-03 18:52] Jagannath8 commented on #8
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-04 04:35] nilisha-jais commented on #12
Hey @akshatvirmani the coding phase begins from 10th.I'll assign you then, till then have patience

[2021-06-04 04:55] Anupam-Panwar opened #13 "Consistency of site"
* Navbar and footer is not present in every page of the website.
* It will help user to navigate to other pages in website more easily.

![image](https://user-images.githubusercontent.com/65714751/120747560-d51bed00-c51e-11eb-971e-64031292b336.png)

* I would like to work on this.

[2021-06-04 05:07] Anupam-Panwar opened #14 "Missing Favicon"
* Favicon is a great way to customize the website

![image](https://user-images.githubusercontent.com/65714751/120748727-df3eeb00-c520-11eb-91d4-55fe276efcd5.png)

* I would like to work on this

[2021-06-04 05:55] nilisha-jais commented on #14
I'll start assigning issues to all contributors from 10th June when the contribution period starts till then have patience

[2021-06-04 05:56] nilisha-jais commented on #4
I'll start assigning issues to all contributors from 10th June when the contribution period starts

[2021-06-04 05:58] Anupam-Panwar commented on #14
@nilisha-jais Sure

[2021-06-04 07:10] BeginnerCoder21 commented on #3
@nilisha-jais I can work on this issue, I am a LGM-SOC'21 participant.

[2021-06-04 07:57] akshatvirmani commented on #12
Okay

[2021-06-04 08:41] Atif0604 commented on #8
I wanna add more songs to it
Please assign it to me
I'm a participant of LGM SOC-21.
@nilisha-jais

[2021-06-04 14:36] vanishasamriddhi opened #15 "Add a Navigation Bar"
I would like to work on it, the website would look more appealing

[2021-06-04 16:04] rvandana193 commented on #9
I would like to work on this project. I am a participant im LGM-SOC.

[2021-06-05 09:19] Aiswarika commented on #3
Can I work on this issue as an LGM SOC participant? @nilisha-jais

[2021-06-05 09:24] Vedant-Jayesh-Oza commented on #3
Can I work on this issue ? I am a LGM-SOC'21 participant
@nilisha-jais

[2021-06-05 09:38] Vedant-Jayesh-Oza opened #16 "The main menu hamburger not responding"
![Screenshot_20210605-150103_Chrome](https://user-images.githubusercontent.com/75005433/120887213-2dcab300-c60f-11eb-81c2-e2dc99e5b6a8.jpg)

Hello I am LGM-SOC'21 participant the main-menu hamburger displayed here is not working or not displaying anything Would like to work on it by giving menus to directly go to
1. Home
2. About Us
3. Contact Us
Can I work on this issue ? @nilisha-jais

[2021-06-05 09:42] Vedant-Jayesh-Oza commented on #16
@nilisha-jais ma'am assign this issue to me

[2021-06-05 09:45] Aiswarika opened #17 "Display of Social Media Accounts"
I would like to add "follow our social media accounts" at the end of the page.
@nilisha-jais Please assign me this issue.

[2021-06-05 10:30] Vedant-Jayesh-Oza opened #18 "Go back to top button"
The footer of the website doesn't have a go "back to top of the page button" so I want to make a button at the footer of the page just like in the given image, which lets user to go directly to the top of the website instead of scrolling the page, can I do that ?

I am a LGM-SOC'21 Participant please ma'am assign this issue to me I would love to work on it

![Screenshot_20210605-155833_Chrome](htt

[2021-06-05 11:21] coding-geek21 opened #19 "Add a preloader to the website"
I would like to work on this issue under LGM-SOC , Can you please assign me @nilisha-jais

[2021-06-05 11:26] coding-geek21 opened #20 "Enhance the band page"
I would like to work on this issue under LGM-SOC , Can you please assign me @nilisha-jais

We can make the band page more attractive by adding high quality images and illustrations

[2021-06-05 12:06] jugeshraghav commented on #2
Please assign this issue to me. I want to work on this issue and make the website's look and feel better. I am a participant of LGM-SoC

[2021-06-05 12:08] kumarishalini6 commented on #2
@jugeshraghav , @Jagannath8  issues assign on the basis of first come first serve.

[2021-06-05 12:08] jugeshraghav opened #21 "Add responsiveness to the home page."
Please assign this issue to me as I am a participant of LMG-SoC.

[2021-06-06 09:02] manognyaa opened #22 "hover animation in the music play cards"
hello mam,
I would like to add hover animation to this website. As you can see the music cards are not filled with colors.
I will create a hover animation like whenever the cursor hovers on the music play cards, the music card will move little bit ups and down. It will really look amazing.
please assign this to me mam @nilisha-jais  :)

[2021-06-06 11:12] manognyaa opened #23 "CURSOR ANIMATION"
hello mam,
what if the cursor changes from normal cursor to a disco-light cursor ? sounds good right mam :)
Adding to it,  the cursor will stop once we don't move the cursor.  the theme is music and I thought why not something new this time.
I would like to work on this issue
please assign this to me mam @nilisha-jais  :)

[2021-06-06 11:25] manognyaa opened #24 "card animation"
hello mam,
I would like add a feature on the music card in mindful music and rolick games.
whenever the cursor hovers inside the boxes, the animated lines will move on the borders of that box.

I would like to work on this issue
please assign this to me mam @nilisha-jais  :)

[2021-06-06 16:06] Swarnava77 commented on #1
Hello Ma'am, please assign me this work. I am ready to contribute in other issues too.

[2021-06-06 17:12] Aniket979Kanodia opened #25 "Add seekbar in Music box player"
Seekbar will helpful in navigating through the music and give user friendly experience.

[2021-06-06 17:13] Aniket979Kanodia commented on #25
@nilisha-jais  I would like to work on this issue.
Please assign me when coding period start.

[2021-06-06 19:21] theSumeetGithub opened #26 "Social media links"
We can Make website visitors to chose how they want to keep up with your band’s news. Give them the option to find you across the web so they can check up on whenever and wherever they want.(Such Like Add Social Media Buttons for Music Promotion)

[2021-06-06 19:23] LegendSumeet commented on #26
@nilisha-jais So You Can assign me to these after

[2021-06-07 05:43] RR-Sahoo commented on #12
Hey, can I work on this issue..

[2021-06-07 06:23] Jagannath8 commented on #14
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-07 09:29] SLPoojitha commented on #21
I am a participant of LGMSOC 2021.
Could you please assign this issue to me.

[2021-06-07 09:42] Vedant-Jayesh-Oza opened #27 "Update readme file to help beginners contribute to open source"
Hello, I am a LGM-SOC'21 Participant
I am a Newbie coder And a beginner to open source contributions,  I learnt open source contributions recently so I would like to update this Readme file where I will give some detailed steps to contribute to this project so that the Readme file can be more beginner friendly.
Assign this issue to me.

[2021-06-07 13:05] SamikshaSankar opened #28 "Making Navbar-Sticky and adding top-button"
Navbar sticky- The navbar will stick to the top when you reach its scroll position
Top-button - button that becomes visible when the user starts to scroll the page

 I work on this issue under LGM-SOC'21 participant..please assigned me

[2021-06-07 13:10] SamikshaSankar opened #29 "Changes in footer"
Adding more resources as well as social media icons.

I work on this issue under LGM-SOC'21 participant..please assigned me

[2021-06-07 15:39] Anuradha0501 commented on #11
I would like to work on this issue as LGM Soc participant

[2021-06-07 15:41] Anuradha0501 commented on #3
Can I work on this issue as an LGM-SOC'21 participant
@nilisha-jais

[2021-06-07 17:25] ss-sahoo opened #30 "Add Footer tag & place social media icons"

[2021-06-07 17:29] ss-sahoo opened #31 "In Navbar section add some more content"

[2021-06-07 17:33] ss-sahoo commented on #30
@nilisha-jais please assign me........I would like to do some changes

[2021-06-07 17:52] Sanika2103 commented on #30
@nilisha-jais I would like to work on this issue. Will you assign it to me?

[2021-06-08 03:47] SanskritiKushik5 commented on #30
Please assign me this issue under LGMSOC.

[2021-06-08 04:37] Sanika2103 commented on #30
I have participated in LGM-SOC

[2021-06-08 05:54] Kartikey0205 opened #32 "Improving Memory Game!!"
Hey !! @nilisha-jais if you permit me then I want to redesign the memory game and convert it into 16blocks and many more inside it...
please assign me this under the LGM-soc'21
/assign

[2021-06-08 06:55] Vedant-Jayesh-Oza opened #33 "Improvising the Quiz game"
Hello I am LGM-SOC'21 participant,
I would like to add some more questions in the music quiz section and also I will try implementing a timer in the music Quiz section
Please assign This issue to me @nilisha-jais ma'am

[2021-06-08 08:24] LegendSumeet commented on #30
Can we work as team?

[2021-06-08 13:23] SamikshaSankar opened #34 "Adjust width of the website"
In band contains a large side space that is not necessary at all
please assigned me @nilisha-jais

![git3](https://user-images.githubusercontent.com/52104082/121192671-c91b8c80-c88a-11eb-8ad7-a10e28cae0be.jpg)

[2021-06-08 14:21] RakeshCharpe commented on #14
I like to work on this issue and I'm a participant of LGM Soc21.

[2021-06-08 14:23] ShwetKhatri2001 opened #35 "Adding song progress bar , so user can jump forward or backward"
I want to add a song progress bar , so that user can jump to particular part of a song in forward or backward direction.

@nilisha-jais Assign this issue after 10th June during LGM-SOC contribution period.

[2021-06-08 14:35] ShwetKhatri2001 opened #36 "Dance page getting data from youtube API"
I want to create dance page for Musicophilia , We can use YouTube API to get data and can show dance related videos.

@nilisha-jais Assign this issue after 10th June during LGM-SOC contribution period.

[2021-06-08 14:38] RakeshCharpe commented on #10
I would like to work on this issue under LCM Soc21.

[2021-06-08 15:02] RakeshCharpe commented on #29
I would like to work on this issue under LCM Soc21 please assign to me.

[2021-06-08 15:04] RakeshCharpe commented on #27
I would like to update Readme file so it can help beginners to how to contribute in projects and make a pull request .Please assign to me under LCM Soc21

[2021-06-08 15:07] Vedant-Jayesh-Oza commented on #27
@RakeshCharpe actually I have already raised this issue and asked to assign it to me 😅😅

[2021-06-08 15:18] nitishapiplani commented on #13
I would like to work on this

[2021-06-08 15:20] nitishapiplani commented on #15
I would like to work on it

[2021-06-08 15:20] nitishapiplani commented on #16
I would also like to work on this

[2021-06-08 15:22] nitishapiplani commented on #31
I would like to work on it lgm SoC participant

[2021-06-09 04:00] V-Yeshwanth commented on #15
Hey !! @nilisha-jais i would add responsive nav-bar.
So, I would like to work on this issue.

[2021-06-09 04:04] royalleads15 opened #37 "add bottom to top button"
Assign this task form me and I have already did it .
![bottom to top](https://user-images.githubusercontent.com/56637948/121291359-ca3dcf80-c905-11eb-8fff-a738ef01c9f9.jpg)

[2021-06-09 04:08] V-Yeshwanth commented on #16
I Would like to work on it !!!

[2021-06-09 04:59] V-Yeshwanth commented on #37
Hey @nilisha-jais I can Work on this issue .

[2021-06-09 05:09] royalleads15 commented on #37
I guess you are unable to find your own ssue 😂😂

[2021-06-09 05:52] V-Yeshwanth opened #38 "Add get in touch section"

[2021-06-09 14:21] rvandana193 commented on #12
Hey, I would like to work on this issue. Please assign this to me under LGM SOC.

[2021-06-09 15:51] Shaishav0507 opened #39 "Add more songs to it"
Hey @nilisha-jais
I want to add more songs to it.
So that one can enjoy and listen to variety of songs.
Thanks

[2021-06-09 16:28] shreyansh30saxena opened #40 "Guess The Singer Game"
Hi there,
I'll try to make a game called "guess the singer"
I have an idea about it and m I think I'll be able to give life to that idea using HTML,CSS and Vanilla JavaScript.
So can you please assign me this under LGM-SOC'21?

[2021-06-09 17:09] supzi-del opened #41 "Make the Nav bar fixed"
Navbar can be fixed/sticky after scrolling down which will give a good effect.

You can assign this to me if you think it's appropriate.

[2021-06-09 17:11] supzi-del commented on #41
And also, in the navbar, a smooth transition effect can be given when hovered upon home,about and contact us.

[2021-06-09 18:03] starrohan999 opened #42 "Can Add little hover effect on box."
Do we add a hover effect in boxes of every section on the front page? the effect will be like when we hover it, it the shadow of the border changes to pale green color.

Before
![2021-06-09 (2)](https://user-images.githubusercontent.com/71714344/121405732-03fced80-c97b-11eb-8532-0ae8edd44aaa.png)

After
![Untitled design](https://user-images.githubusercontent.com/71714344/121405748-09f2ce80-c97b-1

[2021-06-09 18:04] starrohan999 commented on #42
I am an LGM soc participant and please assign it to me.
@nilisha-jais  please assign it to me.

[2021-06-09 18:13] Rishita11 opened #43 "Creating an account"
I would like to work on this under LGM-SOC 21. By creating an account it will be easy to recommend some songs or at least keep a track of their listening activity.

[2021-06-09 18:17] starrohan999 opened #44 "change the border color of images in Music box section."
change the border color of images in the Music box section. and also increase  box shadow of container.
Before
![2021-06-09 (2)](https://user-images.githubusercontent.com/71714344/121407392-e03aa700-c97c-11eb-98e9-1d8eb4f7a31d.png)

After
![Untitled design](https://user-images.githubusercontent.com/71714344/121407414-e7fa4b80-c97c-11eb-8329-e029cddefadf.png)

[2021-06-09 18:17] starrohan999 commented on #44
Hey @nilisha-jais  please assign it me.

[2021-06-09 18:18] starrohan999 commented on #44
I am LGM soc-21 participant

[2021-06-09 18:31] Nikhita28 commented on #2
I would like to work on this issue under lgmsoc 2021

[2021-06-09 19:28] drishika2002 opened #45 "Changes in Music Box page"
Make some changes like adding a heading and background to the page, etc to make it look more attractive.

I want to work on this issue under LGM SOC'21. Please assign this issue to me.

[2021-06-09 19:30] theSumeetGithub opened #46 "Add a awesome contant us page using css html so can u asssign me to these!"
Hello, I am a LGM-SOC'21 Participant
I am a Sumeet And a beginner to open source contributions, I learnt open source contributions recently,
Assign this issue to me.

[2021-06-10 01:25] nilisha-jais commented on #19
@coding-geek21 assigning you!

[2021-06-10 01:27] nilisha-jais commented on #11
Hey @akshatvirmani which instruments would you like to add

[2021-06-10 01:28] nilisha-jais commented on #43
@Rishita11 assigned

[2021-06-10 02:09] nilisha-jais commented on #40
Go ahead @shreyansh30saxena. Assigning you!

[2021-06-10 02:10] nilisha-jais commented on #36
Assigning you @ShwetKhatri2001

[2021-06-10 02:11] nilisha-jais commented on #34
Go ahead @SamikshaSankar

[2021-06-10 02:12] nilisha-jais commented on #33
Go ahead @Vedant-Jayesh-Oza . Assigning you!

[2021-06-10 02:14] nilisha-jais commented on #4
@Jagannath8 go ahead. Assigning you!

[2021-06-10 02:16] nilisha-jais commented on #18
Assigning you @Vedant-Jayesh-Oza

[2021-06-10 02:17] nilisha-jais commented on #44
Go ahead @starrohan999

[2021-06-10 02:19] nilisha-jais commented on #25
Assigning you @Aniket979Kanodia

[2021-06-10 02:25] nilisha-jais commented on #23
Go ahead @manognyaa your feature sounds amazing!!

[2021-06-10 02:40] mayankmohak opened #47 "images and buttons over lapping out on size < 307px width;"
The Bug
![image](https://user-images.githubusercontent.com/63801800/121456102-21ee4080-c9c3-11eb-9f65-60cd2c24dc33.png)

Solution is reducing buttons and image size to fit inside

Can you just assign me this issue.

[2021-06-10 02:47] rvandana193 commented on #1
Hlo mam, I would like to contribute in this issue. Please assign me this under LGM-SOC

[2021-06-10 03:26] Vedant-Jayesh-Oza commented on #18
Okay will do this @nilisha-jais 👍👍

[2021-06-10 03:47] Jagannath8 commented on #4
@nilisha-jais  I have a small doubt,
I have to use the existing images to build easy, medium and hard level in the game or I can add some new images.

[2021-06-10 04:46] kaiwalyakoparkar opened #48 "[LGM] Background for cards"
I think we should have a background color to the cards which will make them distinguishable.
I am a LGM SOC participant. Can you assign it to me?

[2021-06-10 04:54] shreyansh30saxena commented on #40
Thankyou
On it.

[2021-06-10 05:07] kumarishalini6 commented on #2
@nilisha-jais  please assign this issue to me

[2021-06-10 05:22] LegendSumeet commented on #46
@nilisha-jais can u assign me to these?

[2021-06-10 05:40] nilisha-jais commented on #46
Your issue is same as #3 .Please have a look!

[2021-06-10 05:42] LegendSumeet commented on #46
But are they assigned to these

[2021-06-10 05:42] #46 closed

[2021-06-10 05:44] nilisha-jais commented on #46
No I'll assign to the person who commented there first because that issue was created first

[2021-06-10 05:50] theSumeetGithub opened #51 "making the website compatible with mobile"
Can I get assigned @nilisha-jais to these?

[2021-06-10 06:02] niloysikdar commented on #1
Hey @rvandana193 , you can start working on the issue.

[2021-06-10 06:03] niloysikdar commented on #2
Assigned @Nikhita28 , you can start working on the issue.

[2021-06-10 06:06] kumarishalini6 commented on #2
@niloysikdar but the issue assigned on the basis of first come first serve and I am the first one

[2021-06-10 06:14] niloysikdar commented on #2
`And for the issues which have already opened before the contribution period, we have assigned those to the users who have commented first after the starting of the contribution period.`

-- Check Slack channel for more clarity. @kumarishalini6

[2021-06-10 06:41] jugeshraghav opened #53 "The band can also be played the keyboard keys."
As clicking the mouse again and again is so much exhausting. We can also use the keyboard keys to play the tunes just as we do in video games.

Can I work on the issue.

[2021-06-10 06:41] jugeshraghav commented on #53
Can I get this issue assigned? @nilisha-jais @niloysikdar

[2021-06-10 06:43] jugeshraghav opened #54 "Add navbar in each of the respective pages : Band music etc."
It will become easy for the users to navigate through the whole website .

[2021-06-10 06:44] jugeshraghav commented on #54
Can I get this issue assigned @nilisha-jais @niloysikdar

[2021-06-10 07:08] Ishigupta08 opened #56 "ABOUT PAGE OF WEBSITE"
## 🚀 Feature

(about page is designed with html,css)

## Motivation

(Without enrich about page user cannot get to know what all we have in our web)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 07:08] Ishigupta08 commented on #56
plzz assign me this issue/assign

[2021-06-10 07:13] Ishigupta08 opened #57 "background of piano cover"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(background is not looking preety as it sounds)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 07:13] Ishigupta08 commented on #57
plzz assign me @nilisha-jais

[2021-06-10 07:23] akshikamudgal commented on #3
can I work on it
/assign

[2021-06-10 07:26] abhijeet141 opened #59 "To design a Login Page"
## 🚀 Feature

I want to design a login page

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 07:27] abhijeet141 commented on #59
/assign

[2021-06-10 07:29] #59 closed

[2021-06-10 07:55] utkarshgoel10 commented on #51
Can you assign me with this issue @nilisha-jais

[2021-06-10 08:00] nisha331 commented on #28
hey Mentor and project admin as the coding period starts, I as a participant of LGMSOC would like to work on this issue . It would be great if you could assign it to me

[2021-06-10 08:00] starrohan999 opened #62 "Can we add social media Icons in footer section."
## 🚀 Feature

We can add Social media icons in the footer section.

[2021-06-10 08:01] starrohan999 commented on #62
Hi @nilisha-jais
 please assign it to me.

[2021-06-10 08:03] vipul-04 commented on #56
please add me in this issue

[2021-06-10 08:04] starrohan999 opened #63 "In Footer section there is No year mention related to Copyright."
## 🐛 Bug Report

In the Footer section, there is No year mention related to Copyright.

## Add relevant screenshot or video (if any)
![2021-06-10 (4)_LI](https://user-images.githubusercontent.com/71714344/121488180-765be500-c9f0-11eb-8815-150dec911744.jpg)

[2021-06-10 08:04] starrohan999 commented on #63
@nilisha-jais
please assign it to me.

[2021-06-10 08:06] utkarshgoel10 opened #64 "Replace Emojis with Animated Box Icons"
## 🚀 Feature

I think we should replace those Emojis present on Cards, and use some animated icons which would make it look better and a bit more interactive to the User.

[2021-06-10 08:06] utkarshgoel10 commented on #64
Please assign this to me @nilisha-jais

[2021-06-10 08:10] nisha331 opened #65 "Adding Favicon"
## 🚀 Feature

As there is no favicon I would like to add it.

## Add relevant screenshot or video (if any)

![Capture m](https://user-images.githubusercontent.com/76838660/121489003-4103c700-c9f1-11eb-8a5a-4f448ac8ca18.PNG)

As the coding period for LGMSOC starts I would like to work on this issue, mentor and Project admins it would be great if you could assign this to me.

[2021-06-10 08:13] utkarshgoel10 opened #66 "Adjusting the width of the Band Page"
The whole width of the Band page can be reduced to make it look more beautiful, appealing, and responsive.

[2021-06-10 08:14] utkarshgoel10 commented on #66
Please assign me with this issue @nilisha-jais

[2021-06-10 08:15] shriya030 opened #67 "Adding light background to the cards on the home page"
## 🚀 Feature

I want to add light background to these cards so that the text and border of the cards and the background image are clearly visible.
I will add a background and keep its opacity low for better viewing.

Kindly assign me this issue as a part of LGMSOC21

![image](https://user-images.githubusercontent.com/56861600/121489874-22ea9680-c9f2-11eb-925c-534aabb0b522.png)

[2021-06-10 08:26] SanjeevKumar22 opened #68 "Add Dark Mode"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Add a dark mode and light mode
## Motivation

(Please outline the motivation for the proposal.)
it will look nice
![Screenshot 2021-06-10 135547](https://user-images.githubusercontent.com/74849833/121491455-980a9b80-c9f3-11eb-8d1d-0a5638d60fa0.png)

## Pitch

(Please explain why this feature should be implemented and how it wo

[2021-06-10 08:48] jayant766 commented on #63
Please assign me this issue under LGMSOC'21

[2021-06-10 08:54] akitiashritha commented on #3
Can I work on this issue ?
@nilisha-jais

[2021-06-10 08:55] ambivert-sam commented on #63
Hey, @starrohan999 I'm a participant of LGMSOC'21 I would like to contribute to this issue will you please assign it to me

[2021-06-10 09:01] akitiashritha commented on #1
Hi, i am interested in contributing to either about us page or contact us page please assign  anything is fine.

[2021-06-10 09:09] akitiashritha commented on #8
I would like to add some more songs
please assign it to me under LGM SOC.!

[2021-06-10 09:17] niloysikdar opened #70 "Demo Issue, need to delete"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 09:21] niloysikdar commented on #70
/assign

[2021-06-10 09:25] #70 closed

[2021-06-10 09:49] niloysikdar opened #71 "Another demo issue"
## 📚 Documentation

(A clear and concise description of what the issue is.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 09:49] niloysikdar commented on #71
/assign

[2021-06-10 09:49] niloysikdar commented on #71
/assign

[2021-06-10 09:55] #71 closed

[2021-06-10 09:58] niloysikdar opened #72 "demo issue"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 09:59] niloysikdar commented on #72
/assign

[2021-06-10 10:01] #72 closed

[2021-06-10 10:04] niloysikdar commented on #3
Assigned, go ahead @akshikamudgal

[2021-06-10 10:05] niloysikdar commented on #8
Assigned @akitiashritha , go ahead.

[2021-06-10 10:11] niloysikdar commented on #65
@nisha331 , check issue #14 , if you are interested to work on that issue, you can comment there.

[2021-06-10 10:13] niloysikdar commented on #15
Assigned @V-Yeshwanth , go ahead.

[2021-06-10 10:14] niloysikdar commented on #16
Assigned @V-Yeshwanth , go ahead.

[2021-06-10 10:18] Vedant-Jayesh-Oza commented on #27
@RakeshCharpe actually I have raised this issue so I have asked PA and mentors to assign it to me 😅😅

[2021-06-10 10:20] niloysikdar commented on #24
Check #22 @manognyaa

[2021-06-10 10:21] RakeshCharpe commented on #27
Ok no problem i thought it is not assigned to anyone .

[2021-06-10 10:32] niloysikdar commented on #26
Check #17

[2021-06-10 10:33] niloysikdar commented on #27
Assigned @Vedant-Jayesh-Oza , go ahead.

[2021-06-10 10:34] Vedant-Jayesh-Oza commented on #27
Okay will start working on this issue 👍

[2021-06-10 10:34] niloysikdar commented on #28
Assigned @nisha331 , go ahead.

[2021-06-10 10:34] bharth-stack opened #73 "can I add new content"
## 🚀 Feature

It will show singers details and history about him/her.

## Pitch

it will help the user to find the singer details.

## Add relevant screenshot or video (if any)
![Screenshot (141)](https://user-images.githubusercontent.com/74871715/121509165-ff304c00-ca03-11eb-8448-7f1f97d704a8.png)

but after adding little bit css it will look similar to the project website it just for idea to  un

[2021-06-10 10:36] niloysikdar commented on #29
Check #17

[2021-06-10 10:36] niloysikdar commented on #30
Check #17

[2021-06-10 10:38] niloysikdar commented on #31
There are lots of issues related to Navbar.

[2021-06-10 10:48] niloysikdar commented on #32
Check #4

[2021-06-10 10:51] niloysikdar commented on #35
Check #25

[2021-06-10 10:52] SamikshaSankar commented on #28
@niloysikdar I think I am comment on this first Right...Others mentors also follow the same rule.. (this happened with me also the mentors said ur 2 so I am not able to assigned this issue to u)

[2021-06-10 10:56] niloysikdar commented on #37
Check #18

[2021-06-10 10:57] niloysikdar commented on #38
Assigned @V-Yeshwanth , go ahead.

[2021-06-10 10:57] bharth-stack commented on #73
I am LGM  participant

[2021-06-10 10:58] niloysikdar commented on #39
Check #8

[2021-06-10 11:00] niloysikdar commented on #41
There are lots of issues related to the navbar, please try to work on the other issues. @supzi-del

[2021-06-10 11:00] niloysikdar commented on #42
Assigned @starrohan999 , go ahead.

[2021-06-10 11:02] niloysikdar commented on #45
Assigned @drishika2002 , go ahead.

[2021-06-10 11:03] niloysikdar commented on #47
Assigned @mayankmohak , go ahead.

[2021-06-10 11:03] supzi-del commented on #41
Oh okay! We can probably get back to this later.

[2021-06-10 11:04] nisha331 commented on #14
Hey mentor and project admin I being a participant at LGMSOC I want to work on this issue it would be great if u could assign this to me.

[2021-06-10 11:04] niloysikdar commented on #48
Assigned @kaiwalyakoparkar , go ahead.

[2021-06-10 11:05] niloysikdar commented on #51
There are some other issues that are opened related to the same. Please try to find those @theSumeetGithub , @utkarshgoel10

[2021-06-10 11:06] niloysikdar commented on #53
Assigned @jugeshraghav , go ahead.

[2021-06-10 11:07] niloysikdar commented on #54
There are lots of issues related to the navbar @jugeshraghav , please try to find those.

[2021-06-10 11:08] niloysikdar commented on #56
@Ishigupta08 , @vipul-04 , please check #1

[2021-06-10 11:10] niloysikdar commented on #57
Please describe the issue @Ishigupta08 , otherwise, we can't assign you.

[2021-06-10 11:11] niloysikdar commented on #62
Check #17 , @starrohan999

[2021-06-10 11:12] niloysikdar commented on #63
Assigned @starrohan999 , go ahead.

[2021-06-10 11:13] niloysikdar commented on #64
Assigned @utkarshgoel10 , go ahead.

[2021-06-10 11:13] nandinimalik16 commented on #17
I would like to work on this issue as LGM Soc participant

[2021-06-10 11:14] niloysikdar commented on #66
Please attach the screenshots @utkarshgoel10

[2021-06-10 11:16] niloysikdar commented on #67
There are few open issues regarding the changing of style of the cards @shriya030

[2021-06-10 11:17] nandinimalik16 commented on #13
I would like to work on this issue as LGM Soc participant

[2021-06-10 11:17] niloysikdar commented on #68
The website is currently having dark mode @SanjeevKumar22

[2021-06-10 11:17] niloysikdar commented on #73
Assigned @bharth-stack , go ahead.

[2021-06-10 11:19] nandinimalik16 commented on #11
I would like to work on this issue as LGM Soc participant

[2021-06-10 11:21] Ishigupta08 commented on #56
i can't find any @niloysikdar

[2021-06-10 11:22] Ishigupta08 commented on #57
issue is that look and feel of website pino cover is not good
@niloysikdar

[2021-06-10 11:24] niloysikdar commented on #28
`And for the issues which are already opened before the contribution period, we have assigned those to the users who have commented first after the starting of the contribution period. `

-- Check Slack Channel for more info.

[2021-06-10 11:25] niloysikdar commented on #28
@SamikshaSankar

[2021-06-10 11:26] niloysikdar commented on #41
Sure @supzi-del , there are lots of other issues, hope you will find some.

[2021-06-10 11:28] niloysikdar commented on #57
@Ishigupta08 please add a screenshot for the same which you want to fix.

[2021-06-10 11:30] niloysikdar commented on #4
You can also add your own images @Jagannath8

[2021-06-10 11:36] vipul-04 commented on #56
I guess this issue assigned to someone else...

On Thu, Jun 10, 2021, 16:51 Ishigupta08 ***@***.***> wrote:

[2021-06-10 11:44] niloysikdar commented on #56
Check issue #1 , there is already an open issue related to the same @vipul-04

[2021-06-10 11:56] nisha331 commented on #65
Oh thank you @niloysikdar  , commented there. Kindly check it out.

[2021-06-10 12:02] niloysikdar commented on #14
Assigned @nisha331 , go ahead.

[2021-06-10 12:02] starrohan999 commented on #63
Thank you @niloysikdar
I will give my best.

[2021-06-10 12:08] Ishigupta08 commented on #57
![Screenshot (40)](https://user-images.githubusercontent.com/78248931/121522317-9d2b1300-ca12-11eb-87a5-8997b856b2b3.png)

[2021-06-10 12:13] niloysikdar commented on #57
Assigned @Ishigupta08 , go ahead.

[2021-06-10 12:23] #68 closed

[2021-06-10 12:23] #67 closed

[2021-06-10 12:23] #65 closed

[2021-06-10 12:23] #62 closed

[2021-06-10 12:23] #56 closed

[2021-06-10 12:24] #54 closed

[2021-06-10 12:24] #51 closed

[2021-06-10 12:24] #41 closed

[2021-06-10 12:24] #39 closed

[2021-06-10 12:25] #37 closed

[2021-06-10 12:25] #35 closed

[2021-06-10 12:25] #32 closed

[2021-06-10 12:25] #31 closed

[2021-06-10 12:26] #30 closed

[2021-06-10 12:26] #29 closed

[2021-06-10 12:26] #26 closed

[2021-06-10 12:26] #24 closed

[2021-06-10 12:31] akshatvirmani commented on #5
Can I work on this issue?

[2021-06-10 12:31] akshatvirmani commented on #6
Can I work on this issue?

[2021-06-10 12:31] akshatvirmani commented on #7
Can I work on this issue?

[2021-06-10 12:32] akshatvirmani commented on #8
Can I work on this issue?

[2021-06-10 12:32] akshatvirmani commented on #9
Can I work on this issue?

[2021-06-10 12:33] akshatvirmani commented on #10
Can I work on this issue?

[2021-06-10 12:34] niloysikdar commented on #8
If the currently assigned participant is unable to complete within the given time period then definitely you can @akshatvirmani

[2021-06-10 12:34] akshatvirmani commented on #11
@nilisha-jais I would like to add guitar, violin and other instruments.

[2021-06-10 12:35] akshatvirmani commented on #12
Can I work on this issue?

[2021-06-10 12:39] Aiswarika commented on #17
@niloysikdar  is this needed? Can you please assign me if needed as I started it first?

[2021-06-10 12:42] SamikshaSankar commented on #28
![IMG_20210610_181054](https://user-images.githubusercontent.com/52104082/121526699-41af5400-ca17-11eb-8227-904e06b28146.jpg)

.. 8 Jun

[2021-06-10 12:48] starrohan999 commented on #63
Actually, I am confused, please help me.
1. © 2021 | Nilisha | All rights reserved.
2. © 2021 | Musicophilia | All rights reserved.

which one is correct 1 or 2?
please tell me @niloysikdar @nilisha-jais .

[2021-06-10 12:48] coding-geek21 commented on #20
Can you please assign me? i would like to work on it @niloysikdar

[2021-06-10 13:09] starrohan999 commented on #7
I made this logo for the website.
![Blue and White Gaming Logo (1)](https://user-images.githubusercontent.com/71714344/121530492-1d557680-ca1b-11eb-8278-0afde76909fd.png)

[2021-06-10 13:09] starrohan999 commented on #7
please include this in readme file.

[2021-06-10 13:10] vimalprogrammer opened #75 "Add a New Game under the Rollick games section"
## 🚀 Feature

Add a Rock, Paper, Scissors Game under the Rollick Games section.

## Pitch

The familiar game of Rock, Paper, Scissors is played like this: at the same time, two players display one of three symbols: a rock, paper, or scissors. Rock beats scissors, scissors beat paper by cutting it, and paper beats rock by covering it, if both are the same it results in a tie. The computer simply ch

[2021-06-10 13:20] nilisha-jais commented on #75
I don't think the game matches with the theme of the website ,i.e., music. Think of something related to music or has the theme of music

[2021-06-10 13:23] vimalprogrammer commented on #75
Yeah, You're right! now only I take a brief look into the project. Sorry, it's my bad. Thank You : )

[2021-06-10 13:25] #75 closed

[2021-06-10 13:32] nilisha-jais commented on #20
Hey what would kind of images do you want to add...please elaborate

[2021-06-10 13:33] coding-geek21 commented on #20
Vector illustrations Would look attractive

[2021-06-10 13:34] nilisha-jais commented on #9
Which images do you wish to change. The gif or the band components @akshatvirmani

[2021-06-10 13:40] nilisha-jais commented on #20
Assigned @coding-geek21

[2021-06-10 13:41] coding-geek21 commented on #20
Thank you :)

[2021-06-10 13:44] drishika2002 commented on #45
Yes, thank you very much!

[2021-06-10 13:58] Anupam-Panwar commented on #13
I would like to work on this issue
I am LGM Soc participant

[2021-06-10 14:09] utkarshgoel10 commented on #66
![image](https://user-images.githubusercontent.com/66838142/121539264-26e2dc80-ca23-11eb-8154-9bf04c86b2be.png)
I'm asking to do something like this.

And furthermore, can I make this page responsive too, for the mobile devices.

[2021-06-10 14:25] kaiwalyakoparkar opened #77 "[Bug] SEO unavailable"
## 🐛 Bug Report
Hey, While contributing I just saw that the SEO of the application is not so good. I would like to add SEO tags to enhance the application's reach. Could you please assign this issue to me?

[2021-06-10 14:31] kaiwalyakoparkar opened #78 "[LGM] Music Card Layout"
## 🚀 Feature

## Motivation

While seeing into the music section I found out that the music card is not so appealing. I would like to make it more user catchy.

## Pitch

The changes are as follows. The card looks like ( one given as before) which is wider and does not suit the theme of the application. I would like to change it to like (one given in after). Could you please assign it to me?

## A

[2021-06-10 14:34] kaiwalyakoparkar commented on #78
@niloysikdar This is a small issue and won't take much time. What should I do?

[2021-06-10 14:34] nilisha-jais commented on #77
Assigned @kaiwalyakoparkar

[2021-06-10 14:41] nilisha-jais commented on #78
You can take it now @kaiwalyakoparkar

[2021-06-10 15:21] niloysikdar commented on #66
Assigned @utkarshgoel10 , go ahead.

[2021-06-10 15:28] akshatvirmani commented on #9
Band components

[2021-06-10 15:35] #28 closed

[2021-06-10 15:37] #44 closed

[2021-06-10 15:37] #42 closed

[2021-06-10 15:39] niloysikdar commented on #78
You can work on the issue @kaiwalyakoparkar , but try to solve the already assigned issues first for the best practice.

[2021-06-10 16:08] KhushiRoy commented on #21
I would like to resolve this issue under LMG SOC 21. Please assign it to me. Thank you.

[2021-06-10 16:10] KhushiRoy commented on #17
I would like to contribute on this issue under LGM SOC 21. Please assign it to me. Thank you.

[2021-06-10 16:13] KhushiRoy commented on #22
I would like to add hover animation using CSS. Please assign this to me under LGM SOC 21

[2021-06-10 16:17] kaiwalyakoparkar commented on #78
@niloysikdar Yup did all in the assignment sequence. :)

[2021-06-10 16:42] sejalvasan commented on #17
Please assign this issue to me under LGM SOC. Thank you.

[2021-06-10 16:42] aditya687 commented on #17
I would like to contribute  on this issue and to display some new iconic design for displaying social media accounts.

[2021-06-10 16:46] aditya687 commented on #63
I want to contribute in this issue for LGMSOC'21 . Please assign me in this work
@niloysikdar

[2021-06-10 17:39] Shaishav0507 opened #84 "Social Media Engagement Buttons"
## 🚀 Feature

I would like to add Social Media buttons where person can feel like contacting you or just have a glimpse of your social handles.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-10 19:15] niloysikdar commented on #84
Check issue #17 . This is a duplicate one.

[2021-06-10 19:40] niloysikdar commented on #17
Assigned @Aiswarika , go ahead.

[2021-06-10 19:50] namratadas1 commented on #7
May I work on this issue?

[2021-06-10 19:50] niloysikdar opened #88 "Making the questions of the Music Quiz dynamic"
## 🚀 Feature

Currently, all of the questions of the music quiz are hardcoded and static. We can use [this API](https://opentdb.com/api_config.php) to make the questions dynamic.

[2021-06-10 19:56] namratadas1 opened #89 "Adding a chatbot"
## 🚀 Feature

The ChatBot will provide the user- information about different types of music and will also provide them with resources to learn music.

[2021-06-10 19:57] namratadas1 commented on #89
May I work on this?

[2021-06-10 19:58] namratadas1 commented on #89
/assign

[2021-06-10 20:09] niloysikdar commented on #7
Hey @starrohan999 , I have opened an issue regarding the adding of a logo.

[2021-06-10 20:11] niloysikdar opened #91 "Need a Logo for the website"
## 🚀 Feature

Need an awesome logo for the website.

This is an open issue, we aren't going to assign anyone for this issue. You can submit your logo in this thread and we will choose the best one and going to add it to our website.

[2021-06-10 20:14] niloysikdar commented on #7
@starrohan999 , please see #91

[2021-06-10 20:15] niloysikdar commented on #7
Assigned @akshatvirmani , go ahead.

[2021-06-10 20:20] #6 closed

[2021-06-10 21:17] Jagannath8 opened #92 "No back option in any of the games."
## 🐛 Bug Report

There is no back option in any of the games. I would like to add back option to land in home page.

Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-10 21:19] Jagannath8 commented on #92
/assign

[2021-06-11 02:16] #4 closed

[2021-06-11 02:30] #77 closed

[2021-06-11 02:49] nilisha-jais commented on #12
@akshatvirmani go ahead. Assigning you
But remember don't change the dimensions of the image otherwise you need to change the code also

[2021-06-11 04:11] pallavi-1812 commented on #88
Hello! Can I work on this issue?

[2021-06-11 05:09] nisha331 commented on #91
I as a LGMSOC would like to work on it could you assign this issue to me.

[2021-06-11 05:36] Amit-45 opened #95 "Improvement in UI in the memory game"
## 🐛 Bug Report

The memory game  page :

I can improve the User Interface of the page by providing a good background and by making the buttons(easy, medium , hard) more interactive with colors , borders and animation .

Please assign me this issue under LGMSOC'21 .

## Screenshot :
![Screenshot (166)](https://user-images.githubusercontent.com/77204104/121636074-fb083b00-caa4-11eb-8d7d-d575750460f

[2021-06-11 05:57] codeaholic-shub opened #96 "More Description of README.md File"
## 🚀 Feature

I want to add different sections in README.md file to look more captivating !

[2021-06-11 05:58] codeaholic-shub commented on #96
/assign

[2021-06-11 06:10] aum-singhal commented on #13
Hello Mam.

I will be happy to contribute in this issue.
If possible please assign it to me.
I am a participant of LGM-SOC

Thanks in advance 😊

[2021-06-11 06:16] Amit-45 commented on #95
/assign

[2021-06-11 06:17] aum-singhal opened #97 "Improvement in the UI of Band"
## 🐛 Bug Report

I can remove the scrolls and make the buttons more precise so that it will be easier for the user to click on them fast.

I am a participant of LGM-SOC.
If you feel it relevant then please assign it to me. I will be happy to contribute on this.

Thanks 😊

![](https://user-images.githubusercontent.com/69421286/121639709-918b2b00-caaa-11eb-825f-88c075422c3b.png)

[2021-06-11 06:19] aum-singhal commented on #91
Hello Sir.

Can I contribute in this issue.
I am a participant of LGM-SOC.
If possible please assign it to me.

Thanks 😊

[2021-06-11 06:22] #66 closed

[2021-06-11 06:28] #78 closed

[2021-06-11 06:32] nilisha-jais commented on #88
Go ahead @pallavi-1812

[2021-06-11 06:34] kaiwalyakoparkar opened #98 "Update Footer Copyrights notice"
## 🐛 Bug Report

The footer notice for Copyrights can be updated to more precise form. One like in the MIT license added

## Add relevant screenshot or video (if any)

![cc](https://user-images.githubusercontent.com/53310847/121641653-124b2680-caad-11eb-9d55-3b5e67c45437.png)

[2021-06-11 06:37] kaiwalyakoparkar opened #99 "Change color of the band title"
## 🚀 Feature

## Motivation

The title in the band page does not have the correct color to match the theme of the application. I would like to change it to the matching theme

## Add relevant screenshot or video (if any)

![band](https://user-images.githubusercontent.com/53310847/121641982-82f24300-caad-11eb-9b5d-eb6c0ac4e06b.png)

[2021-06-11 06:57] Amrutha1101 opened #101 "Open the Youtube link of Dance in new tab"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)
@nilisha-jais  I see the dance section has youtube link which opens in the same tab. I want to change it to new

[2021-06-11 06:57] aum-singhal commented on #97
/assign

[2021-06-11 06:58] Nikhita28 commented on #91
I'd like to work on this as a participant of LGMSOC '21.

[2021-06-11 07:01] Amrutha1101 commented on #101
/assign

[2021-06-11 07:04] niloysikdar commented on #91
This is an open issue, we aren't going to assign anyone for this issue. You can submit your logo in this thread and we will choose the best one and going to add it to our website. @nisha331  @aum-singhal @Nikhita28

[2021-06-11 07:13] starrohan999 commented on #91
Here are two designs that I have made.
![Blue and White Gaming Logo (1)](https://user-images.githubusercontent.com/71714344/121646054-8805c100-cab2-11eb-823f-fc8d2a8a9965.png)
![Blue and White Gaming Logo](https://user-images.githubusercontent.com/71714344/121646092-9358ec80-cab2-11eb-8821-dea3a47de317.png)

@niloysikdar and @nilisha-jais  please look at this.

[2021-06-11 07:14] niloysikdar commented on #99
Assigned @kaiwalyakoparkar , go ahead.

[2021-06-11 07:15] niloysikdar commented on #98
Assigned @kaiwalyakoparkar , go ahead.

[2021-06-11 07:15] Nikhita28 commented on #91
I have come up with these.
![μSICOPHILIA (1)](https://user-images.githubusercontent.com/73106734/121646349-da46e200-cab2-11eb-865e-20b272ff05d7.png)
![μSICOPHILIA](https://user-images.githubusercontent.com/73106734/121646355-dc10a580-cab2-11eb-9643-7e66261291d9.png)
![μSICOPHILIA (2)](https://user-images.githubusercontent.com/73106734/121646359-dca93c00-cab2-11eb-810a-80713bd41224.png)

[2021-06-11 07:33] starrohan999 opened #103 "In band page add text glow effect on Band context ."
## 🚀 Feature

In the Band Page, we can add a glowing effect in the band context that suits website Ui {Green and pale green color are used}.

## Add relevant screenshot or video (if any)

The output should like this only glow effect is added no font family is changed.
![2021-06-11 (3)](https://user-images.githubusercontent.com/71714344/121648674-635f1880-cab5-11eb-84e8-0e1a19facc8b.png)

[2021-06-11 07:34] starrohan999 commented on #103
@niloysikdar  and @nilisha-jais  please look at this feature.
please assign it to me

[2021-06-11 07:39] #14 closed

[2021-06-11 07:39] #63 closed

[2021-06-11 07:43] souvikrajsingh commented on #91
Sir, I want to work on this as an LGM participant, kindly assign it to me.

[2021-06-11 07:45] starrohan999 commented on #91
@souvikrajsingh please show your design in this thread @niloysikdar  decide which logo is best and then they assigned it to that contributor

[2021-06-11 08:11] Hardikpoudel opened #105 "Theme of the website (including navbar and card)"
###  Change the theme of navbar, make each card have different theme according to category i.e. band piano and as well as the footer

[2021-06-11 08:16] harshita0802goswami opened #107 "Add page icon on the website"

[2021-06-11 08:21] harshita0802goswami commented on #107
/assign

[2021-06-11 08:34] vimalprogrammer opened #108 "Add guitar music instrument"
## 🚀 Feature

Add a guitar music instrument under the Mindfull music section.

## Pitch

The guitar is a fretted musical instrument that typically has five or six strings. It is held flat against the player's body and played by strumming or plucking the strings with the dominant hand, while simultaneously pressing the strings against frets with the fingers of the opposite hand.
Tools used : HTML,

[2021-06-11 08:39] Abhishek-Sahoo commented on #107
I can add a favicon or page icon

[2021-06-11 08:43] #64 closed

[2021-06-11 08:49] tjanhvi opened #109 "Add a login and signup page"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-11 08:49] #27 closed

[2021-06-11 08:49] tjanhvi commented on #109
Please assign me this issue.

[2021-06-11 08:50] #109 closed

[2021-06-11 08:50] Ayan-thecodeking opened #110 "readme update required"

[2021-06-11 08:51] tjanhvi opened #111 "Add a log in and signup page"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-11 08:51] tjanhvi commented on #111
Please assign me this issue.

[2021-06-11 08:51] Ayan-thecodeking commented on #110
want to add contributers section in readme
 please assign me for this

[2021-06-11 08:54] nilisha-jais commented on #108
Go ahead @vimalprogrammer !

[2021-06-11 08:58] nisha331 commented on #91
![Copy of Add a heading](https://user-images.githubusercontent.com/76838660/121660271-c1ddc400-cac0-11eb-8515-34cbefe9fe05.png)
![Copy of Add a heading](https://user-images.githubusercontent.com/76838660/121660641-12edb800-cac1-11eb-8eb0-396e73cc280d.png)

These are the few designed i have tried out . kindly check it.

[2021-06-11 08:58] Abhishek-Sahoo commented on #91
![Musicophilia (1)](https://user-images.githubusercontent.com/61592628/121660888-44ff1a00-cac1-11eb-9054-9437a9b46cf6.png)

[2021-06-11 09:00] tjanhvi commented on #91
Here the design that I have made
![image](https://user-images.githubusercontent.com/78703730/121661072-724bc800-cac1-11eb-826a-80c7a3b770a3.png)

[2021-06-11 09:00] Abhishek-Sahoo commented on #91
![Musicophilia (2)](https://user-images.githubusercontent.com/61592628/121661191-94454a80-cac1-11eb-904f-9ea7467b7618.png)

[2021-06-11 09:01] tjanhvi commented on #91
Here the design that I have made
![image](https://user-images.githubusercontent.com/78703730/121661232-9f987600-cac1-11eb-9097-21198a949125.png)

[2021-06-11 09:02] Abhishek-Sahoo commented on #105
/assign

[2021-06-11 09:06] nilisha-jais opened #113 "Add a contribution.md file"
## 📚 Documentation

(A clear and concise description of what the issue is.)
Create a simple contribution.md file which will help beginners to create a PR
Use this for <a href="https://github.com/nilisha-jais/CollegeAada/blob/main/CONTRIBUTION.md">reference </a>
But all photos will be of current project

[2021-06-11 09:08] jugeshraghav commented on #11
I would like to work on the issue. along with adding new instruments in the drum I will make it play with the keyboard keys.

[2021-06-11 09:09] jugeshraghav commented on #113
I would like to work on the issue. Please get it assigned to me @nilisha-jais

[2021-06-11 09:14] nilisha-jais commented on #113
Go ahead @jugeshraghav

[2021-06-11 09:14] aum-singhal commented on #91
White Themed

![Logo(white)](https://user-images.githubusercontent.com/69421286/121662942-87295b00-cac3-11eb-9859-35a579ee5981.png)

Black Themed

![Logo(black)](https://user-images.githubusercontent.com/69421286/121662972-8ee8ff80-cac3-11eb-997c-464f68724bc8.png)

[2021-06-11 09:22] nilisha-jais commented on #110
@Ayan-thecodeking you need to make the following changes changes
-In the readme file "The Contribution Guidelines" should be short and without describing images
-Add a section of project maintainers

[2021-06-11 09:38] nilisha-jais commented on #91
All the logos are amazing! Let @niloysikdar only decide.
(I liked @Nikhita28 's logo the most)

[2021-06-11 09:39] jugeshraghav commented on #53
@niloysikdar  I created the pull request but some checks were not verified. Do I have to create the pull request again.

[2021-06-11 09:53] Abhishek-Sahoo commented on #107
/assign

[2021-06-11 10:00] starrohan999 commented on #91
![Blue and White Gaming Logo (2)](https://user-images.githubusercontent.com/71714344/121669380-e25e4c00-cac9-11eb-866a-4b4fe9e02d08.png)

[2021-06-11 10:11] starrohan999 commented on #91
there are two more @niloysikdar and @nilisha-jais  I hope you liked it.
![Blue and White Gaming Logo (4)](https://user-images.githubusercontent.com/71714344/121670724-5f3df580-cacb-11eb-8393-b86304efe2e2.png)
![Blue and White Gaming Logo (3)](https://user-images.githubusercontent.com/71714344/121670731-606f2280-cacb-11eb-85b5-d985dda5718f.png)

[2021-06-11 11:06] starrohan999 commented on #103
hey @niloysikdar  please look at this feature.

[2021-06-11 12:09] Sukhseerat-Kaur opened #115 "Style memory game page"
I would  like to update the memory game home page by adding CSS to it. @nilisha-jais Please assign me this under LGM-SOC'21.

[2021-06-11 12:21] Sukhseerat-Kaur commented on #115
/assign

[2021-06-11 12:42] Amit-45 commented on #95
Is it under LGMSOC ?

[2021-06-11 12:55] starrohan999 commented on #91
sorry for the spelling mistake I will correct it.

[2021-06-11 13:35] nilisha-jais commented on #95
Yes go ahead @Amit-45

[2021-06-11 13:36] anubhav201241 opened #121 "Changes in Site"
## 🚀 Feature

1)change the title μSICOPHILIA and replace it with MusicClub
2)Make the site responsive(Nav Bar)
## Motivation

I need to go over the site and make changes so that it can offer value to the lives of those that frequent it.

## Pitch
If it becomes more responsive, more traffic will be attracted to the site, and if we give it a catchy name, it will also attract people.

/assign

[2021-06-11 13:39] nilisha-jais commented on #115
Hey @Sukhseerat-Kaur your issue is same as #95 .So it would be better if you don't start working on it now. After the issue #95 is solved, if you like to do further enhancement open an issue in that case :)

[2021-06-11 13:39] mrunankpawar commented on #91
I would like to solve this issue. It would be great if I get this issue assigned to me.

[2021-06-11 13:40] Anubhavdevv commented on #121
/assign this issue to me

[2021-06-11 14:18] nikitaNishchal17 opened #122 "Add a code of conduct"

[2021-06-11 14:21] nikitaNishchal17 commented on #122
/assign

[2021-06-11 14:28] nisha331 opened #123 "Adding tabla as an instrument"
## 🚀 Feature

I would like to add tabla in the list of musical instrument , the 2 tabla  has different sound "dhe" and "ta" it would be played when we click on respective tabla having the respective sound.

If you feel it would be good for the website I as a participant of LGMSOC would like to work on it , kindly assign it to me.

[2021-06-11 14:31] nilisha-jais commented on #123
Assigning @nisha331

[2021-06-11 14:31] manognyaa commented on #23
thank you mam
@nilisha-jais

[2021-06-11 14:42] Sukhseerat-Kaur opened #124 "Lets Dance in new tab"
The Lets Dance section should open youtube in a new tab. That would be better. Let me add this feature under LGMSOC'21

[2021-06-11 14:42] Sukhseerat-Kaur commented on #124
/assign

[2021-06-11 14:52] #111 closed

[2021-06-11 14:54] jigar-sable opened #125 "Add Badges and Contributors"
## 📚 Documentation
**Update README**
There must a proper readme file, currently it is not design properly.
I would like to arrange it in proper way and add few more sections to it i.e. shields badges and contributors
The contribution steps are also having inappropriate design.

## Add relevant screenshot or video (if any)
Here is the sample of Readme I'd recently made: [Click Here](https://github.

[2021-06-11 14:55] tjanhvi opened #126 "Want to add a login page."
I want add a log in page so that person able to use this website by their id's.

[2021-06-11 15:01] jigar-sable commented on #125
/assign

[2021-06-11 15:18] Aiswarika commented on #17
@niloysikdar @nilisha-jais  Do review my pull request and let me know if it's fine.

[2021-06-11 16:23] Ayushi7456 commented on #103
Can i work on this if no one is assigned?

[2021-06-11 16:31] starrohan999 commented on #91
![USICOPHILIA (1)](https://user-images.githubusercontent.com/71714344/121719767-967ac980-cb00-11eb-8761-f0642a9723f4.png)
![USICOPHILIA](https://user-images.githubusercontent.com/71714344/121719784-97abf680-cb00-11eb-924b-9c862dfcd48b.png)

[2021-06-11 16:32] starrohan999 commented on #91
corrected version

[2021-06-11 16:42] #7 closed

[2021-06-11 16:42] #53 closed

[2021-06-11 16:44] #98 closed

[2021-06-11 16:45] #99 closed

[2021-06-11 16:46] #47 closed

[2021-06-11 16:51] #38 closed

[2021-06-11 16:53] anushka-srivastava22 opened #130 "Hovering Effect"
## 🚀 Feature
In the band page , I would like to add hovering effect of zoom out with box shadow

## Motivation

[2021-06-11 16:54] starrohan999 commented on #103
Hey, @niloysikdar please look at this issue.

[2021-06-11 16:59] niloysikdar commented on #103
@nilisha-jais will it add more value to the website ? If so, you can go ahead @starrohan999

[2021-06-11 17:03] starrohan999 commented on #103
Ok sure @niloysikdar, @nilisha-jais please tell us whether it is putting more value on the website or not?

[2021-06-11 17:13] #17 closed

[2021-06-11 17:23] #73 closed

[2021-06-11 17:33] nandinimalik16 commented on #15
Can you please assign me this issue

[2021-06-11 17:38] #115 closed

[2021-06-11 17:41] anushka-srivastava22 commented on #130
**/assign**
I am a lgmsoc participant.
In band page , I would like to contribute by adding zoom out with box shadow.
Kindly assign this issue to me under LGMSOC 21. Please..

[2021-06-11 17:49] nilisha-jais commented on #103
Somebody is working on the UI of the band....Anyways go ahead @starrohan999

[2021-06-11 18:05] sameer2403 opened #131 "Recreate navbar"
## 🚀 Feature

1.add login and signup button
2.align navbar to the left of screen vertically

## Motivation

i have seen others music app and they have quite interesting navbar .

## Pitch

It will be responsive and eyecatching to the user.

## Add relevant screenshot or video (if any)

![screencapture-open-spotify-2021-06-11-23_29_19](https://user-images.githubusercontent.com/76219383/121730655-9c

[2021-06-11 18:05] sameer2403 commented on #131
please assign it to me.

[2021-06-11 18:11] starrohan999 commented on #91
is any logo is final out for website @niloysikdar @nilisha-jais

[2021-06-11 18:17] niloysikdar commented on #91
@nilisha-jais kindly have a look at the new entries.

[2021-06-11 19:20] Nikhita28 opened #133 "Addition of custom scroll bar"
## 🚀 Feature

The current scroll bar of the page is the default one. We can add a custom scroll bar that goes with the design of the page.

[2021-06-11 19:31] Amit-45 commented on #95
Hey @nilisha-jais  did you just forget to assign the tag of LGMSOC to this #95 issue or  will  it be only provided if the pull request is merged?

[2021-06-11 19:54] Sukhseerat-Kaur commented on #133
/assign

[2021-06-11 20:00] Amit-45 opened #135 "Common background for each level in the memory game"
Issue : The background of each level (easy , medium ,  hard)is black .
Changes that can be made : A common image background to each of the levels that would make the pages look interactive .
![Screenshot (170)](https://user-images.githubusercontent.com/77204104/121742594-a8b73080-cb1d-11eb-85dc-021e3a4e31ba.png)

[2021-06-11 20:02] Amit-45 commented on #135
Please assign me this issue under LGMSOC'21 .

[2021-06-11 20:05] sameer2403 commented on #131
/assign

[2021-06-11 20:10] nekkantimadhu commented on #130
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-11 20:11] nekkantimadhu commented on #22
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-11 20:46] #95 closed

[2021-06-11 21:01] niloysikdar commented on #135
Assigned @Amit-45 , go ahead.

[2021-06-11 21:09] niloysikdar commented on #130
Assigned @anushka-srivastava22 , go ahead.

[2021-06-11 21:11] niloysikdar commented on #126
Assigned @tjanhvi

[2021-06-11 21:22] #96 closed

[2021-06-11 21:24] niloysikdar commented on #105
Hey @Hardikpoudel  do you want to work on this issue ? If not @Abhishek-Sahoo can go ahead.

[2021-06-11 21:25] #107 closed

[2021-06-11 21:27] niloysikdar commented on #124
Check issue #101

[2021-06-11 21:30] niloysikdar opened #139 "[Enhancement] Contact Us Page"
## 🚀 Feature

The Contact Us page isn't matching with the website's current theme. Please make it similar.

[2021-06-11 21:33] #45 closed

[2021-06-11 21:43] niloysikdar opened #140 "[ADD] Adding a Code of conduct"
## 📚 Documentation

Please add a Code of conduct for the project. Use the email jaiswal.nilisha05@gmail.com for the Contact method.

[2021-06-11 21:46] niloysikdar opened #141 "[ADD] Adding CONTRIBUTING.md"
## 📚 Documentation

Need a CONTRIBUTING.md file. [Reference](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors) for Writing contributing guidelines.

[2021-06-11 21:50] namratadas1 commented on #140
May I work on this?

[2021-06-11 21:52] namratadas1 commented on #140
/assign

[2021-06-11 22:26] #140 closed

[2021-06-11 22:26] namratadas1 commented on #141
I would like to work on this. /assign

[2021-06-11 22:28] namratadas1 commented on #141
/assign

[2021-06-12 02:22] RiyaGupta89 commented on #139
I can create a good interactive contact us page. Please assign me this issue.

[2021-06-12 03:43] jugeshraghav commented on #139
Hi! Can I work on this issue.

[2021-06-12 04:38] royalleads15 opened #147 "Add facebook, instagram and twitter login page"
## 🚀 Feature

Whenever a user clicks on any of logo of facebook , instagram and twitter he/she get redirected to respective page . Suppose a user clicks on insta logo , after click he must reach insta page of musicophilia .

## Motivation

The motivation for issue come from acessing various music sites .

## Pitch

This feature must be implemented because if anyone wants to connect with musicophil

[2021-06-12 04:46] royalleads15 opened #149 "Proper documentation and indentation of code"
## 📚 Documentation

Proper documentation is very important so that anyone can easily understand it and work upon it .
for Ex .
1. All the css property must be kept in .css file which is not in index.html
2. Proper Comments and indentation of code . etc

[2021-06-12 06:16] codeaholic-shub opened #152 "Images are Repeated in README.md Section"
## 🐛 Bug Report

Images are repeated in README.md Section !

## Add relevant screenshot or video (if any)

![Copies](https://user-images.githubusercontent.com/65807708/121767087-d8912300-cb73-11eb-9cc6-277d368c4fd6.png)

[2021-06-12 06:19] codeaholic-shub commented on #152
Hey @niloysikdar ,
Kindly assign this issue to me,
So , I can work on it as soon as possible !

[2021-06-12 06:19] codeaholic-shub commented on #152
/assign

[2021-06-12 06:33] niloysikdar commented on #149
Assigned @royalleads15 , go ahead.

[2021-06-12 06:34] royalleads15 commented on #147
@niloysikdar  kindly assign this issue to me , so that I can start working upon it.

[2021-06-12 06:39] royalleads15 commented on #139
@niloysikdar I am ready for that !

[2021-06-12 06:40] niloysikdar commented on #147
Sure @royalleads15 , go ahead.

[2021-06-12 06:41] niloysikdar commented on #139
Assigned @RiyaGupta89 , go ahead.

[2021-06-12 07:02] Manasa2811 commented on #91
![Musicophilia (1)](https://user-images.githubusercontent.com/57994923/121768145-31fc5080-cb7a-11eb-8aae-4400a51d8f8f.png)
![Musicophilia](https://user-images.githubusercontent.com/57994923/121768146-34f74100-cb7a-11eb-9a67-341b17db6584.png)

[2021-06-12 07:46] Kartikey0205 opened #155 "Website is not looking good in mobile View and toggle is also not working"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)
`Website is not looking good in mobile View and toggle is also not working it needs modification as its looking ugly in other devices except Desktop View`

## Add relevant screenshot or video (if any)

(Add here)
![Screenshot (110)_LI](https://user-images.githubusercontent.com/66429038/121769281-565b2b80-cb80-11eb-9387-f6e259aa

[2021-06-12 07:48] Sukhseerat-Kaur opened #156 "Click Effect on GO buttons"
@nilisha-jais I would like to add click effect on the GO buttons. This will make them more like actual buttons. Please assign me this under LGM-SOC'21. Thank you!

[2021-06-12 07:57] Sukhseerat-Kaur opened #157 "No contact info on contact us page"
The contact us page should have the contact information where the users can contact if needed, like email-id. This should be added to the contact us page. Please assign me this under LGMSOC'21

[2021-06-12 07:57] #157 closed

[2021-06-12 08:00] Sukhseerat-Kaur opened #158 "First name, last name and subject should be required fields in contact us"
Please assign me this under LGMSOC'21

[2021-06-12 08:01] #158 closed

[2021-06-12 08:01] #124 closed

[2021-06-12 08:03] Sukhseerat-Kaur opened #159 "First Name, Last Name and Subject should be required fields on contact us page"
Please assign me this under LGMSOC'21

[2021-06-12 08:16] sameer2403 opened #160 "Add a search bar"
## 🚀 Feature

adding a search bar

## Motivation

Easy to search any songs

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-12 08:16] sameer2403 commented on #160
/assign

[2021-06-12 09:11] ishitakapoor26 opened #161 "No hover effect and cursor pointer in band icons"
## 🐛 Bug Report

No hover effect and cursor pointer in band icons.

[2021-06-12 09:11] ishitakapoor26 commented on #161
@nilisha-jais pls assign me this issue.

[2021-06-12 09:14] ishitakapoor26 commented on #161
/assign

[2021-06-12 09:43] jatinjain001 commented on #161
/assign

[2021-06-12 09:45] jatinjain001 commented on #160
/assign

[2021-06-12 09:45] jatinjain001 commented on #101
/assign

[2021-06-12 09:47] jatinjain001 commented on #57
/assign

[2021-06-12 09:52] ishitakapoor26 commented on #161
@jatinjain001 Hey I'm already working on it! Pls look for some other issue.

[2021-06-12 10:03] Ayan-thecodeking commented on #110
ok @nilisha-jais  @niloysikdar thank you :)

[2021-06-12 10:46] #88 closed

[2021-06-12 10:50] #135 closed

[2021-06-12 10:59] #152 closed

[2021-06-12 11:00] #125 closed

[2021-06-12 11:01] ishitakapoor26 commented on #161
@nilisha-jais pls review my pr.

[2021-06-12 11:02] #161 closed

[2021-06-12 11:05] nilisha-jais commented on #91
@niloysikdar choose one between @Nikhita28 's and the last entry by @starrohan999 !

[2021-06-12 11:05] niloysikdar commented on #155
Assigned @Kartikey0205 , go ahead.

[2021-06-12 11:06] nilisha-jais commented on #156
Go ahead @Sukhseerat-Kaur

[2021-06-12 11:06] shreyansh30saxena opened #165 "Adding Guess The Singer Game"
Adding Guess the Singer Game in main index.html file.

[2021-06-12 11:07] niloysikdar commented on #165
Assigned @shreyansh30saxena

[2021-06-12 11:13] niloysikdar commented on #91
I think the last two logos of @Nikhita28 are perfect for both dark and light themes. @Nikhita28 assigned you the issue. Please make a PR for the same with those logos.

[2021-06-12 11:30] niloysikdar commented on #159
Make all the fields required @Sukhseerat-Kaur

[2021-06-12 11:35] pallavi-1812 opened #167 "Adding an alert box when submit button is clicked without choosing any option in music quiz"
## 🚀 Feature

I want to add an alert box which will remind user to click on option first when any user clicks submit button in music quiz without clicking on any option.

## Motivation

When submit button is clicked without choosing any option, nothing happens as of now. It is possible for any user to click on submit button by mistake without clicking on any option first and thus he/she might get

[2021-06-12 11:36] vimalprogrammer commented on #108
@nilisha-jais Is any slack or discord channel available for this project for discussions, if yes please let me know...

[2021-06-12 11:36] nisha331 opened #168 "Change the logo in the navbar"
## 🚀 Feature
As the logo for the website has been changed I would like to change it in the navbar.

[2021-06-12 11:39] nisha331 opened #169 "Changing the favicon as per the current logo."
## 🚀 Feature
As the logo has changed so favicon if updated would loo much more better.

As a LGMSOC participant I would like to work on it, kindly assign it to me.

[2021-06-12 11:48] nisha331 commented on #169
@niloysikdar @nilisha-jais kindly check it out.

[2021-06-12 11:51] ishitakapoor26 opened #170 "Changing UI of Band Page"
Changing UI of Band.

[2021-06-12 11:53] ishitakapoor26 commented on #170
/assign

[2021-06-12 12:03] akitiashritha commented on #21
I would like to add some more songs
please assign it to me under LGM SOC.!

[2021-06-12 12:04] akitiashritha commented on #21
I would like to Add responsiveness to the home page.
please assign it to me under LGM SOC.!
@niloysikdar

[2021-06-12 12:29] jugeshraghav opened #173 "Adding More instruments in the band section and enhancing the band page."
## 🚀 Feature

The band section can have more instruments and user can also see which keys work for which instrument.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

Now user doesn't know that the band can also be played with he keyboard keys. We can add some feature which enables the user to know about which key of keyboard corresponds to which instrument.
Also we can

[2021-06-12 12:30] jugeshraghav commented on #173
please assign this issue to me @niloysikdar @nilisha-jais

[2021-06-12 13:49] ishitakapoor26 commented on #170
@nilisha-jais pls review my pr and assign level lable and LGMSOC label to my issues #170 and #161

[2021-06-12 13:51] ishitakapoor26 commented on #161
@nilisha-jais pls add lgmsoc and level label to the issue.

[2021-06-12 14:07] Sumit11081996 commented on #168
can you please assign me this issue

[2021-06-12 14:13] #170 closed

[2021-06-12 14:15] aditya687 commented on #17
Issue #84

See my pr for footer design  @niloysikdar

[2021-06-12 14:33] ishitakapoor26 opened #176 "UI changes in Piano page"
UI changes in piano page.
Pls review my prs under LGM-SOC'21

[2021-06-12 14:33] ishitakapoor26 commented on #176
/assign

[2021-06-12 14:38] #168 closed

[2021-06-12 15:36] gourav02 opened #181 "The footer of the home page looks too dull compare to the website."
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-12 15:38] gourav02 commented on #181
/assign

[2021-06-12 15:45] mdinesh124 commented on #121
@niloysikdar Please assign this issue to me under LGMSOC.

[2021-06-12 15:47] akshita2903 commented on #167
Hey @nilisha-jais  I am a LGM participant.Please assign this issue to me.
/assign

[2021-06-12 15:52] akshita2903 commented on #167
/assign

[2021-06-12 16:05] nilisha-jais commented on #167
@akshita2903 the issue was opened by @pallavi-1812 so let her complete. You can take up any other issue.

[2021-06-12 16:13] Anubhavdevv commented on #121
thank you for assigning this to me
:)

[2021-06-12 16:14] tjanhvi commented on #126
okay :)

[2021-06-12 16:25] niloysikdar commented on #173
Assigned @jugeshraghav , go ahead

[2021-06-12 16:35] #133 closed

[2021-06-12 16:38] akshita2903 commented on #167
Okay..

[2021-06-12 16:41] #97 closed

[2021-06-12 16:45] #159 closed

[2021-06-12 17:04] #167 closed

[2021-06-12 17:48] akshita2903 opened #187 "Improve social-media icons"
## 🚀 Feature

I want to add some glowing and hover effect on social media icons

## Motivation

## Pitch
The motivation comes from various music or any other sites where when user clicks on social media icons it shows some glow/hover effect
The social media icons looks very simple when you click or select then,so I wanna improve it

## Add relevant screenshot or video (if any)

(Add here

[2021-06-12 17:51] akshita2903 commented on #187
@niloysikdar  please assign this issue to me

[2021-06-12 18:00] sameer2403 commented on #187
/assign this issue to me.

[2021-06-12 18:06] niloysikdar commented on #187
Assigned @akshita2903

[2021-06-12 18:12] niloysikdar commented on #169
I think you are already working on two issues. As per the rules, you can't take more than two issues. Please complete those first @nisha331

[2021-06-12 18:13] ishitakapoor26 commented on #176
@niloysikdar pls review my pr.

[2021-06-12 18:15] surbhi594 opened #188 "Improvisation of "Contact Us" section"

[2021-06-12 18:19] surbhi594 commented on #188
I want to work on this issue. Please /assign it to me as I'm an LGMSOC'21 participant.

[2021-06-12 18:20] niloysikdar commented on #188
@surbhi594 please elaborate more on the issue.

[2021-06-12 18:24] surbhi594 commented on #188
@niloysikdar I want to enhance the UI of the "contact us" section.

[2021-06-12 18:25] #141 closed

[2021-06-12 18:26] niloysikdar commented on #188
There are already some issues opened related to the improvement of Contact Us page.

[2021-06-12 18:26] #188 closed

[2021-06-12 19:05] #91 closed

[2021-06-12 19:09] #92 closed

[2021-06-12 19:10] #176 closed

[2021-06-12 19:13] Rishita11 commented on #43
https://rishita11.github.io/Account.github.io/

I have made the necessary changes. Let me know if anything else is required.

[2021-06-12 19:24] #130 closed

[2021-06-12 19:26] #108 closed

[2021-06-12 20:08] starrohan999 opened #192 "extra back link is given in bottom left side of the band page."
## 🐛 Bug Report

There is an extra link is given on the bottom left-hand side of the band page.
we can simply remove it.

## Add relevant screenshot or video (if any)

![2021-06-13_LI](https://user-images.githubusercontent.com/71714344/121788037-b20ccf80-cbe7-11eb-94d8-af084569b076.jpg)

[2021-06-12 20:11] starrohan999 commented on #192
@niloysikdar if it going to add more value in website please assign it to me.

[2021-06-12 20:36] shvam0000 opened #193 "Border-Name of the box in musicbox page"
## 🐛 Bug Report

The border of the name of the song is going out of the way from the main container box and is misbehaving on resizing the screen.

![image](https://user-images.githubusercontent.com/60486289/121788572-d9fe3200-cbeb-11eb-974a-1a0b20009358.png)
![image](https://user-images.githubusercontent.com/60486289/121788578-e7b3b780-cbeb-11eb-878b-1cf53390e2bd.png)

[2021-06-12 20:36] shvam0000 commented on #193
I would like to work on this issue, please assign this to me.

[2021-06-12 20:38] shvam0000 commented on #193
/assign

[2021-06-13 02:18] aum-singhal opened #194 "Home page not responsive"
## 🐛 Bug Report

Home page is not responsive for mobile.

I will be glad to contribute in this issue.
I am a LGM-SOC participant.

Thanks 😊

## Add relevant screenshot or video (if any)

![Screenshot_2021-06-13-07-40-35-07.jpg](https://user-images.githubusercontent.com/69421286/121793328-a804c400-cc1b-11eb-8c57-17b3bb62df42.jpg)

[2021-06-13 02:38] Amit-45 opened #195 "Change in background of the Quiz Game"
The quiz game has a black background that does not look good . So I would like to add a background image to it .

Please assign me this issue under LGMSOC .

[2021-06-13 02:45] Amit-45 opened #196 "Improvement in the UI of the Contact Us page"
-I would like  to improve the UI of the Contact us page .
-Please assign me this issue under LGMSOC'21

[2021-06-13 02:59] Amit-45 opened #197 "Delete one back button in the Band page"
-The Band Page contains two back buttons - One Simple Button and One Hyperlink .
- I want to delete one of them .

Please assign me this issue under the LGMSOC'21

[2021-06-13 03:00] #197 closed

[2021-06-13 03:03] #196 closed

[2021-06-13 03:05] Amit-45 opened #198 "Delete one back button from the Band Page"
-The Band Page contains two back buttons - One Simple Button and One Hyperlink .

I want to delete one of them .

Please assign me this issue under the LGMSOC'21

[2021-06-13 03:11] niloysikdar commented on #192
Assigned @starrohan999

[2021-06-13 03:11] niloysikdar commented on #198
Check #192

[2021-06-13 03:12] #198 closed

[2021-06-13 03:12] niloysikdar commented on #195
Assigned @Amit-45

[2021-06-13 03:12] niloysikdar commented on #194
Go ahead @aum-singhal

[2021-06-13 04:44] #193 closed

[2021-06-13 04:52] #165 closed

[2021-06-13 05:35] ShwetKhatri2001 opened #200 "Adding Buttons having dance categories to fetch and show related videos"
## 🚀 Feature

We can add buttons having dance categories at top

## Motivation

User can find videos based on selected category

## Pitch

Currently we are fetching videos for world's best dances , that query parameter can be changed dynamically and we can get videos related to that query parameter onclick to a particular category button

@niloysikdar Assign this during LGM-SOC contribution period

[2021-06-13 05:37] nisha331 commented on #169
I am working on only issue currently.

[2021-06-13 05:38] nisha331 commented on #169
I am only working on 1 issue currently

[2021-06-13 06:23] niloysikdar commented on #200
Assigned @ShwetKhatri2001

[2021-06-13 06:25] niloysikdar commented on #169
Okay, assigned you @nisha331

[2021-06-13 08:07] ArshWalker opened #204 "Upgrading the footer section"
## 🚀 Feature

(A clear and concise description of what the feature is.)
1. Making the year dynamic in the footer.
2. Some CSS modifications.

@nilisha-jais please assign me under LGMSOC21

[2021-06-13 08:28] akitiashritha commented on #21
/assign @nilisha-jais

[2021-06-13 08:34] Khushi-agarwal opened #205 "The navbar"
## 🚀 Feature

In the navbar, I want to add the hover effect for the home,about and contact us.
Please assign me this issue under lgmsoc.

[2021-06-13 08:36] Khushi-agarwal commented on #205
/assign

[2021-06-13 12:33] RiyaGupta89 commented on #139
Uh, hey. You have not labeled any level to this issue?

[2021-06-13 12:51] namratadas1 opened #207 "UI changes in the Guitar page."
## 🚀 Feature

Will change the background and also add a back button.

[2021-06-13 12:52] namratadas1 commented on #207
I would like to work on this.

[2021-06-13 12:52] namratadas1 commented on #207
/assign

[2021-06-13 13:07] Jagannath8 commented on #204
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 13:09] Jagannath8 commented on #10
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 13:53] niloysikdar commented on #139
Hey @RiyaGupta89 , we will add levels in the pr according to your work. Like if you use bootstrap instead of your own CSS then obviously we will assign a low level.

[2021-06-13 14:11] RiyaGupta89 commented on #139
![ui-contact-page](https://user-images.githubusercontent.com/72425181/121810576-16c73900-cc7f-11eb-87d7-ac6bab870a59.png)

Please see if you like the UI, I used CSS only! No CSS frameworks are being used.

[2021-06-13 14:23] RiyaGupta89 commented on #139
![ui-phone](https://user-images.githubusercontent.com/72425181/121811099-dff22280-cc80-11eb-816c-61f26c4b4308.png)
![ui-phone1](https://user-images.githubusercontent.com/72425181/121811102-e2547c80-cc80-11eb-9265-b7a85d0c78b9.png)
This is how it looks on phone, tell me if you want any changes in the UI. Also, you would prefer logo's "u" white or green?

[2021-06-13 17:16] Umesh-01 opened #209 "Change the position of badges"
## 📚 Documentation
I think these badges are not looking good enough. I want to align them to the center.

## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/83420185/121816429-2784a880-cc99-11eb-8859-ccb0db5132bb.png)

[2021-06-13 17:16] Umesh-01 commented on #209
@nilisha-jais mam should I work on this under LGMSOC??

[2021-06-13 18:56] swag1223 opened #210 "Changes in the UI design of piano keys."
## 🚀 Feature
The piano keys need a bit of styling , to make it look more appealing to the eye.

[2021-06-13 18:57] swag1223 commented on #210
@nilisha-jais Please /assign me this under LGM-SOC'21. Thank you!

[2021-06-13 19:37] rishika789 opened #211 "social media icons"
It would be better if we keep social media icons inside the footer . Currently it is above footer.

[2021-06-13 19:48] rishika789 commented on #211
/assign

[2021-06-13 20:01] anushruti11 opened #213 "Changes in UI design of Artist details page"
## 🚀 Feature

I want to change the UI of profile cards to enhance the look of the page.

[2021-06-13 20:02] anushruti11 commented on #213
/assign

[2021-06-13 20:10] rishika789 commented on #211
i made the changes after cloning and making a new branch

[2021-06-14 04:59] #194 closed

[2021-06-14 05:00] #195 closed

[2021-06-14 05:01] #169 closed

[2021-06-14 05:03] #187 closed

[2021-06-14 05:14] nilisha-jais commented on #210
Assigned @swag1223

[2021-06-14 05:14] Amit-45 opened #216 "Underline in the back button of the quiz game"
![Screenshot (179)](https://user-images.githubusercontent.com/77204104/121842007-27b68f80-ccfd-11eb-804e-d10e68334f78.png)

There is an underline in the back button(in the Quiz Game Page) as it is a button created by Hyperlink .
The underline under the text of the Back Button can be removed .

If you think that needs to be changed  please assign this issue under the LGMSOC'21

[2021-06-14 05:20] #147 closed

[2021-06-14 05:20] #149 closed

[2021-06-14 05:25] Amit-45 opened #217 "Change in the background of the Band page"
The background of the Band Page is black .
A background can be added to make that page look more interactive.

Please assign me this issue under LGMSOC'21.

[2021-06-14 05:30] Umesh-01 commented on #209
@nilisha-jais mam should I make these changes??

[2021-06-14 05:32] harshita9621 commented on #204
Hii, I would like to work on this issue. Do assign me if possible. Thank You!

[2021-06-14 05:35] nilisha-jais commented on #209
Go ahead @Umesh-01

[2021-06-14 06:01] Sumit11081996 commented on #217
@Amit-45 can you assign me this issue

[2021-06-14 06:03] Sumit11081996 commented on #216
@Amit-45 can you assign me this issue

[2021-06-14 06:04] Sumit11081996 commented on #10
@nilisha-jais can you assign me this issue

[2021-06-14 06:06] Sumit11081996 commented on #9
@nilisha-jais assign this issue

[2021-06-14 06:23] Umesh-01 commented on #209
@nilisha-jais mam there are some images and gifs in README.md file, should I add links to them because without them these are of no use...

For this should I raise a new ISSSUE??

Example-
![image](https://user-images.githubusercontent.com/83420185/121847934-f6db5800-cd06-11eb-8f91-ec8727b1fb05.png)

![image](https://user-images.githubusercontent.com/83420185/121847963-fe9afc80-cd06-11eb-8b28-44ff

[2021-06-14 06:25] bharth-stack opened #219 "theme changer"
## 🚀 Feature

want to add a button to change theme to light , light to dark

## Motivation

every music players have this function
## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-14 06:27] jugeshraghav commented on #219
Can I work on this issue.

[2021-06-14 06:27] Khushi-agarwal opened #220 "AboutSinger page changes"
## 🚀 Feature

(A clear and concise description of what the feature is.)
In the about singer page, I would like to add flip card animation to the cards which would give the page a new look.
Please assign me this issue under lgmsoc.

[2021-06-14 06:31] niloysikdar commented on #204
Check #181 @ArshWalker

[2021-06-14 06:31] #204 closed

[2021-06-14 06:33] jugeshraghav opened #221 "Can I redesign the footer."
## 🚀 Feature

I want to redesign the footer with more details and functionality also add the social media icons in the footer.

[2021-06-14 06:33] niloysikdar commented on #209
Please elaborate a little more @Umesh-01

[2021-06-14 06:33] jugeshraghav commented on #221
Please assign this issue to me @nilisha-jais @niloysikdar

[2021-06-14 06:33] #221 closed

[2021-06-14 06:35] Umesh-01 commented on #209
Hello @niloysikdar sir,
are u a maintainer??

[2021-06-14 06:36] niloysikdar commented on #216
Assigned @Amit-45

[2021-06-14 06:36] niloysikdar commented on #217
Assigned @Amit-45

[2021-06-14 06:38] niloysikdar commented on #219
Assigned @bharth-stack .
Definitely, you can @jugeshraghav if @bharth-stack fails to complete the task within the given time. Till then explore the other issues if possible.

[2021-06-14 06:40] niloysikdar commented on #220
Check #213 @Khushi-agarwal , someone is already working on the same.

[2021-06-14 06:40] #220 closed

[2021-06-14 06:44] Umesh-01 commented on #209
I mean if any user by mistake or intentionally clicks on these gifs then they must be redirected to the files of Code of Conduct or License without this these gifs or images are of no use.

Now they are like this after clicking on them, means this is of no use...

![image](https://user-images.githubusercontent.com/83420185/121850177-fe503080-cd09-11eb-89b0-d8788f1baa1d.png)

[2021-06-14 06:44] niloysikdar commented on #221
I think you are already working on 2 active issues. First, complete them @jugeshraghav .

[2021-06-14 06:46] niloysikdar commented on #209
Yeah sure @Umesh-01 , please add the relevant links.

[2021-06-14 06:47] Umesh-01 commented on #209
so what should I do to make these changes??
a new issue??

[2021-06-14 06:48] niloysikdar commented on #209
No just push the new changes in the same pr which you have opened.

[2021-06-14 06:48] niloysikdar commented on #209
Just need to add two links @Umesh-01

[2021-06-14 06:49] Umesh-01 commented on #209
ok @niloysikdar sir 👍 , thanks 🙂

[2021-06-14 06:50] Khushi-agarwal opened #223 "Enhancement of footer section"
## 🚀 Feature
I want to enhance the footer section by putting all the social media icons on the footer and also improving it over all.

Please assign me under lgmsoc.

[2021-06-14 06:52] niloysikdar commented on #223
Check #211

[2021-06-14 06:52] #223 closed

[2021-06-14 06:59] codebuzzer01 opened #224 "Add Flute Music Section."
## 🚀 Feature

Add a complete another section of flute chords.

## Motivation

Flute music is one of the most peaceful and soothing music.

## Pitch

Flute music will definitely be worth a section. It will add variety to this website and users will undoubtedly enjoy it more.

[2021-06-14 07:00] codebuzzer01 commented on #224
@nilisha-jais If u find it suitable, then assign it to me under LGM-SOC'21

[2021-06-14 07:00] Umesh-01 commented on #209
@niloysikdar sir done, check it and merge if everything is fine 😄

[2021-06-14 07:01] niloysikdar commented on #224
Assigned @codebuzzer01 , go ahead.

[2021-06-14 07:07] #205 closed

[2021-06-14 07:07] #209 closed

[2021-06-14 07:12] #10 closed

[2021-06-14 07:13] #2 closed

[2021-06-14 07:14] Khushi-agarwal opened #225 "Memory game changes"
## 🚀 Feature

This page doesn't looks good and also the elements are not aligned properly
![image](https://user-images.githubusercontent.com/76625662/121853159-2e99ce00-cd0e-11eb-9b77-e94363d3152e.png)
I would like to work on this.

[2021-06-14 07:16] #1 closed

[2021-06-14 07:17] niloysikdar opened #227 "Create a About Us Page"
## 🚀 Feature

Need to create an about us page following the theme of the website.

[2021-06-14 07:18] niloysikdar commented on #225
Assigned @Khushi-agarwal

[2021-06-14 07:19] anushruti11 commented on #227
I want to work on this issue.

[2021-06-14 07:19] niloysikdar commented on #227
Assigned @anushruti11 , go ahead.

[2021-06-14 07:38] ankh77sb opened #228 "Resize the music box"
## 🐛 Bug Report

The music box page seems pretty cool and well done. But it seems to require scrolling on my viewport. So i would like to resize it to avoid the scrolling in that page

## Add relevant screenshot or video (if any)

(Add here)
![musicophilia](https://user-images.githubusercontent.com/59738300/121856020-a4ebff80-cd11-11eb-8ecd-1e2f274d29fc.JPG)

[2021-06-14 07:38] #213 closed

[2021-06-14 07:39] ankh77sb commented on #228
Please kindly look into it assign it to me
or
Let me know if i can assign it to myself

[2021-06-14 07:42] niloysikdar commented on #228
Sure @ankh77sb , assigned you the issue. Kindly align the back button to the top left corner also.

[2021-06-14 07:45] #3 closed

[2021-06-14 07:46] #8 closed

[2021-06-14 07:46] #9 closed

[2021-06-14 07:47] #11 closed

[2021-06-14 07:48] #13 closed

[2021-06-14 07:50] niloysikdar commented on #15
You have exhausted the given time for an easy issue @V-Yeshwanth . also we don't need it now.

[2021-06-14 07:50] #15 closed

[2021-06-14 07:51] niloysikdar commented on #16
Just a small reminder @V-Yeshwanth , you have only 1 day left to complete the issue.

[2021-06-14 07:52] niloysikdar commented on #19
Just a small reminder @coding-geek21 , you have only 1 more day left to complete the task.

[2021-06-14 07:53] niloysikdar commented on #20
Small reminder @coding-geek21 , just one more day left to complete this task.

[2021-06-14 07:57] niloysikdar commented on #21
Can you please elaborate more on the changes you want to make? @akitiashritha

[2021-06-14 07:58] #22 closed

[2021-06-14 07:59] niloysikdar commented on #25
Small reminder @Aniket979Kanodia , you have only one more day left to complete this task.

[2021-06-14 08:00] niloysikdar commented on #33
Small reminder @Vedant-Jayesh-Oza , you have one more day left to complete this task. We have already implemented API for the questions, you can add a timer.

[2021-06-14 08:01] #105 closed

[2021-06-14 08:02] Vedant-Jayesh-Oza commented on #33
Hello @niloysikdar sir I have my exams going on, I had a word with PA and I also dm'd you about my exams on slack please consider 😅

[2021-06-14 08:04] Aniket979Kanodia commented on #25
@niloysikdar
I am done with HTML and CSS part of project.
Also JAVA SCRIPT part is almost done.
But there are some issues left and I am working on them. It might take three days. It would be helpful if you could provide me some more time.

[2021-06-14 08:09] jugeshraghav opened #230 "redesign the footer with more speficity and add the footer in all the respective pages of the website."
## 🚀 Feature

I want to redesign the footer which matches the color schemes of the website and has more features as well as i want to add the social media icons in the footer .

[2021-06-14 08:10] #230 closed

[2021-06-14 08:17] #34 closed

[2021-06-14 08:18] #36 closed

[2021-06-14 08:19] #40 closed

[2021-06-14 08:20] niloysikdar commented on #43
Hey @Rishita11 , please submit a pr for the issue.

[2021-06-14 08:22] niloysikdar commented on #25
Sure @Aniket979Kanodia , thanks for the information about your progress.

[2021-06-14 08:23] niloysikdar commented on #33
No issues @Vedant-Jayesh-Oza , thanks for letting us know about the problem.

[2021-06-14 08:42] akitiashritha commented on #21
I want to add the navbar and make a mobile view of it and as well want to modify the homepage
@niloysikdar

[2021-06-14 08:44] Khushi-agarwal commented on #225
@niloysikdar can I add a gif to the background?

[2021-06-14 08:59] #122 closed

[2021-06-14 09:05] RiyaGupta89 commented on #139
Can I please get a response?

[2021-06-14 09:12] niloysikdar commented on #139
Sorry @RiyaGupta89 , I forgot your comment in this vast number of issues and prs. The page seems fine to me. Just add the logo as per the color scheme of the new logo.

[2021-06-14 09:14] niloysikdar commented on #225
Sure @Khushi-agarwal

[2021-06-14 09:21] niloysikdar commented on #21
Seems like someone is already working on that. Please have a look at the open issues. If not, then we will definitely assign you.

[2021-06-14 09:22] jugeshraghav commented on #21
This issue is assigned to me

On Mon, Jun 14, 2021, 14:51 Niloy Sikdar ***@***.***> wrote:

[2021-06-14 09:28] akitiashritha commented on #21
I'm almost done with that as it was assigned to me yesterday i started working on it but its ok i will just contribute my part of code
@niloysikdar  could you please suggest me your opinion

[2021-06-14 09:29] jugeshraghav commented on #21
Then you go for it , I have no problem with it.

On Mon, Jun 14, 2021, 14:58 akitiashritha ***@***.***> wrote:

[2021-06-14 09:30] akitiashritha commented on #21
okay !!!

[2021-06-14 09:35] niloysikdar commented on #21
No worries @jugeshraghav , @akitiashritha . We all can collaborate and contribute to the project. But as this issue was assigned to @akitiashritha , sorry but you have to wait @jugeshraghav . And you can go ahead @akitiashritha .

[2021-06-14 09:36] jugeshraghav commented on #21
Ya sure 😇

On Mon, Jun 14, 2021, 15:05 Niloy Sikdar ***@***.***> wrote:

[2021-06-14 09:38] akitiashritha commented on #21
okay

[2021-06-14 09:51] RiyaGupta89 commented on #139
![logo](https://user-images.githubusercontent.com/72425181/121873460-087f2880-cd24-11eb-935a-ff75bd07a580.png)
Is this the logo you're talking about? If yes, then can you please provide the logo in green color. As black color won't work nice with the color theme.

[2021-06-14 09:52] RiyaGupta89 commented on #139
Also please label the level too.

[2021-06-14 10:02] RiyaGupta89 commented on #139
![3](https://user-images.githubusercontent.com/72425181/121875089-ade6cc00-cd25-11eb-838b-764d953cf446.png)
Did you wanted the color scheme like this?

[2021-06-14 10:13] RiyaGupta89 commented on #139
Shall I request for PR?

[2021-06-14 10:20] ankh77sb commented on #228
I have made a pull request. Please suggest changes if any
Need some more time to work on view port sizes below 425 .. the cause of extra space on bottom is not yet found

[2021-06-14 10:24] niloysikdar commented on #139
Yes it is @RiyaGupta89

[2021-06-14 10:24] niloysikdar commented on #228
Sure @ankh77sb

[2021-06-14 10:31] Shaishav0507 opened #233 "Change Copyright year using JS"
## 🚀 Feature

Hey @nilisha-jais
I would like to change the copyright year and add using the Js, where you need not update everytime.
It will automatically update itself.
Please assign it to me.
Thanks

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if

[2021-06-14 11:41] starrohan999 opened #236 "ADD : ? icon in guess the singer card."
## 🚀 Feature

We can add ?  mark icon in guess singer card. because the icon is the same as in the music quiz.
"bx-bx-question-mark"

## Add relevant screenshot or video (if any)
![2021-06-14 (3)_LI](https://user-images.githubusercontent.com/71714344/121886758-7121d180-cd33-11eb-9727-15462b2132bf.jpg)

(Add here)

[2021-06-14 11:41] #236 closed

[2021-06-14 11:50] Sukhseerat-Kaur opened #237 "Style the Contact Us page"
I would like to add style to the Contact Us page, which is at this point not styled much. @niloysikdar Please assign me this under LGMSOC'21

[2021-06-14 11:57] nikitaNishchal17 opened #238 "wrong project dir name in readme"
![musicophilia](https://user-images.githubusercontent.com/79302718/121886749-6ebf7780-cd33-11eb-98b2-c7de87349d83.jpeg)

[2021-06-14 11:57] nikitaNishchal17 commented on #238
/assign

[2021-06-14 11:57] starrohan999 opened #239 "ADD: cursor:pointer in option of the Guess the singer page."
## 🚀 Feature

there is no cursor: pointer effect in the Guess the singer page. that may confuse the

## Add relevant screenshot or video (if any)

![2021-06-14 (5)_LI](https://user-images.githubusercontent.com/71714344/121888568-ca8b0000-cd35-11eb-97db-bb027af243f7.jpg)
user.

(Add here)

[2021-06-14 11:58] #239 closed

[2021-06-14 12:02] starrohan999 opened #240 "Change The title of the page of the guess the singer."
## 🐛 Bug Report

There is a bug in the title of the guess the singer page.

changes:
before: Guess the Song
After:  Guess the Singer

## Add relevant screenshot or video (if any)

![2021-06-14 (6)_LI](https://user-images.githubusercontent.com/71714344/121889139-7cc2c780-cd36-11eb-8bb9-cccb76439a84.jpg)

(Add here)

[2021-06-14 12:03] #240 closed

[2021-06-14 12:04] starrohan999 commented on #192
close this issue

[2021-06-14 12:24] nimishbhandari opened #242 "Fresh styling of landing page"
## 🚀 Feature

Fresh Styling of the landing page (index.html)

## Motivation

I have worked as a front end developer and i understand the need of a good looking UI/UX. This will make the project more attractive to look and to work on.

## Pitch

This feature will offer better visual looks and will definitely bring more devlopers to work on this project. I will start adding new colours and cards loo

[2021-06-14 12:25] nimishbhandari commented on #242
/assign

[2021-06-14 12:56] vimalprogrammer opened #244 "open url in new tab on button click"
## 🐛 Bug Report

A clear and concise way is to open the URL is to the new tab, not the same tap.

<h2>WRONG </h2>

![WhatsApp Image 2021-06-14 at 6 19 41 PM (1)](https://user-images.githubusercontent.com/76787061/121894867-43418a80-cd3d-11eb-8dd5-6fb7e1ddb3b8.jpeg)

<h2>Onclick open in new tap CORRECT WAY</h2>

![WhatsApp Image 2021-06-14 at 6 19 41 PM](https://user-images.githubusercontent.com/76

[2021-06-14 13:42] #123 closed

[2021-06-14 13:43] #238 closed

[2021-06-14 13:57] #156 closed

[2021-06-14 14:10] #103 closed

[2021-06-14 14:12] niloysikdar commented on #237
Check #139

[2021-06-14 14:12] #237 closed

[2021-06-14 14:15] #192 closed

[2021-06-14 14:23] niloysikdar commented on #233
Not needed @Shaishav0507

[2021-06-14 14:23] #233 closed

[2021-06-14 14:29] Sukhseerat-Kaur opened #247 "Back button in music quiz section"
## 🐛 Bug Report

The back button is music quiz section has an underline but on the other pages it doesn't have it. I would like to remove that line as it doesn't seem good and is not like other buttons too

## Add relevant screenshot or video (if any)

![image](https://user-images.githubusercontent.com/54837213/121908674-d7feb500-cd4a-11eb-8d8f-c7013efc5fd3.png)

[2021-06-14 14:31] nilisha-jais commented on #247
Check #216

[2021-06-14 14:31] #247 closed

[2021-06-14 14:43] Pratik57 opened #249 "In artistDetails, info is not working properly"
## 🐛 Bug Report

In artist Detail section on clicking info, it does not redirect to info page for the singer.
As a LGMSOC21 participant, assign me to fix this issue

[2021-06-14 14:50] Adarsh88 opened #250 "Adding a metronome"
## 🚀 Feature

Adding a metronome to Musicophilia

## Pitch

Everyone needs a metronome for practicing their music whether it may be guitar or some other instrument. For example we use a metronome for practicing chord shifts in guitar. So I thought of implementing it in this website.

I'm a participant of LGM-SOC'21. So please add the necessary tags!

[2021-06-14 15:04] Pratik57 commented on #249
/assign

[2021-06-14 15:11] tanya070820 opened #252 "Footer should be improvised."
## 🚀 Feature
Footer will be improvised as we will add contact us detail in footer and social media icons too.
@nilisha-jais Please try to assign me this issue

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-14 15:15] tanya070820 commented on #252
/assign

[2021-06-14 15:23] Sukhseerat-Kaur opened #253 "Question number not shown in Music Quiz"
## 🐛 Bug Report

In the Music Quiz while attempting the questions, question number is not shown. This creates confusion for the user

## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/54837213/121917186-80fcde00-cd52-11eb-9654-ff2629c68977.png)

[2021-06-14 15:38] nisha331 opened #254 "Enhanching the UI of tabla page"
## 🚀 Feature
I would like to add back option in the tabla page and also enhance the heading "Tabla"
## Motivation
It would make the page more appealing.

[2021-06-14 15:38] nisha331 commented on #254
/assign

[2021-06-14 17:09] starrohan999 opened #256 "Change The title of the page of the guess the singer."
## 🐛 Bug Report
There is a bug in the title of the guess the singer page.

changes:
before: Guess the Song
After: Guess the Singer

## Add relevant screenshot or video (if any)

![](https://user-images.githubusercontent.com/71714344/121889139-7cc2c780-cd36-11eb-8bb9-cccb76439a84.jpg)

(Add here)

[2021-06-14 17:09] starrohan999 commented on #256
/assign

[2021-06-14 17:11] starrohan999 commented on #256
@niloysikdar  please look at this bug.
I Have a question that every time I have to run a command git pull upstream cmd to get repo updated.

[2021-06-14 17:26] starrohan999 opened #257 "ADD: cursor: pointer in option of the Guess the singer page."
## 🚀 Feature

there is no cursor: pointer effect in the Guess the singer page. that may confuse the user who uses it.

I would like to add cursor: pointer property to options when the user hovers it.

![](https://user-images.githubusercontent.com/71714344/121888568-ca8b0000-cd35-11eb-97db-bb027af243f7.jpg)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-14 17:26] starrohan999 commented on #257
Please look at this issue and assign it to me.

[2021-06-14 17:59] Pratik57 commented on #249
/assign

[2021-06-14 18:24] devanshi-code opened #261 "About Section"
## 🚀 Feature

I would love to add description about you website in about section so that users can know what this site is about and what features are included in it. Plz assign this issue to me @nilisha-jais

[2021-06-14 18:26] devanshi-code commented on #261
/assign

[2021-06-14 18:57] VivekBcloud opened #262 "Score feature in Guess the singer page"
## 🚀 Feature

To see the numbers of correct answers.

[2021-06-14 18:57] VivekBcloud commented on #262
Please /assign me this under LGM-SOC'21. Thank you!

[2021-06-14 18:58] VivekBcloud commented on #262
@nilisha-jais  Please /assign me this under LGM-SOC'21. Thank you!

[2021-06-14 18:59] VivekBcloud commented on #262
@nilisha-jais  Please /assign me this under LGM-SOC'21. Thank you!

[2021-06-14 19:28] nisha331 opened #265 "Play tabla using keyboard"
## 🚀 Feature

Currently tabla can be played by clicking on it I would like to work on it more and make it play using keyboard clicks

[2021-06-14 19:34] Khushi-agarwal opened #266 "Animation to cards on landing page"
## 🚀 Feature

The cards which represent music box,The band, piano....I would like to add the flip card animation to it.
Please assign me under lgmsoc.

[2021-06-14 19:34] Khushi-agarwal commented on #266
/assign

[2021-06-14 19:57] starrohan999 commented on #257
/assign

[2021-06-14 20:13] royalleads15 opened #267 "flip the card and give some facts"
## 🚀 Feature

As the user hovers his mouse on any card the card flip and give some genuine info about that . For ex whenever a users hovers his mouse on piano , the piano card flips and gives some info like when piano was first played or how to play piano etc .

## Motivation

The motivation comes from more and more analyzing your website .

## Pitch

By adding this feature, one who didn't know ab

[2021-06-15 02:37] #110 closed

[2021-06-15 02:42] #228 closed

[2021-06-15 02:50] #227 closed

[2021-06-15 02:51] #216 closed

[2021-06-15 03:42] codeaholic-shub opened #269 "Enhancing the UI of Contact Us Page"
## 🚀 Feature

I want to change the User Interface of "Contact Us" Page for more attractive look

Hello @niloysikdar @nilisha-jais ,
Kindly assign this issue to me,
So , I could work upon it as soon as possible !

[2021-06-15 03:45] codeaholic-shub commented on #269
/assign

[2021-06-15 06:23] ROHAN842 opened #271 "Successful alert pop up feature for contact page submit button"
## 🚀 Feature

As when user fills all the detail and clicks on submit button then site takes user page not found page, I want to add an alert which will pops up and will tell the user that message was delivered successfully with a green tick.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2021-06-15 06:23] VivekBcloud commented on #262
/assign

[2021-06-15 06:25] ROHAN842 commented on #271
/assign

[2021-06-15 06:43] vishal-codes commented on #244
I would like to work on this bug. I have experience with the mentioned feature as I have implemented the required feature in my portfolio website.  Please assign this issue to me under LGM-SoC.

[2021-06-15 06:49] ROHAN842 opened #272 "Add "Back" button for Guitar, Tabla and Guess the Singer Pages"
## 🚀 Feature

All mentioned 3 pages doesn't consists of going back button due to which user needs to click on the backward arrow on the chrome browser that's why I want to add backward buttons for Guitar, Tabla and Guess the Singer Page.

![image](https://user-images.githubusercontent.com/61961107/122005773-ac73dd00-cdd3-11eb-83ca-d75663bd35fe.png)

![image](https://user-images.githubusercontent.c

[2021-06-15 06:55] ROHAN842 commented on #272
/assign

[2021-06-15 07:16] Aditi-Singh16 opened #273 "Add navbar and footer on each page."
## 🐛 Bug Report

There should be a navbar and footer on each page of the website, it will help users to navigate between pages.

## Add relevant screenshot or video (if any)

(Add here)
![image](https://user-images.githubusercontent.com/74586135/122009211-79cbe380-cdd7-11eb-981d-4d7b346e2487.png)

Here we can see that the user cannot navigate back to the home page
I would like to work on this issu

[2021-06-15 07:18] Aditi-Singh16 commented on #273
/assign

[2021-06-15 08:48] ambivert-sam opened #275 "Tabla icon is missing"
## 🚀 Feature

On the home page, there is the missing icon of tabla I want to add that icon
I would like to contribute and work on this issue as a participant of LGM SOC'21 will you please assign it to me

## Add relevant screenshot or video (if any)
![Screenshot (193)](https://user-images.githubusercontent.com/74984661/122022594-5d827380-cde4-11eb-93f8-2111c22b4ab6.png)

[2021-06-15 08:49] ambivert-sam commented on #275
/assign

[2021-06-15 10:15] #19 closed

[2021-06-15 10:16] #262 closed

[2021-06-15 10:24] #217 closed

[2021-06-15 10:43] #155 closed

[2021-06-15 11:05] #271 closed

[2021-06-15 11:12] Nikhita28 opened #281 "add navbar and footer to contact us and about page"
The current about page and contacts page does not have a header and footer. I want to add that. Also, I want to add an indicator in the navbar which shows which page we are on.

[2021-06-15 11:13] Nikhita28 commented on #281
\ assign

[2021-06-15 11:13] Nikhita28 commented on #281
/assign

[2021-06-15 13:14] jugeshraghav opened #283 "Enhance the guitar page and tabla page and adding back button to both."

[2021-06-15 13:15] #283 closed

[2021-06-15 14:12] Salonee-Jain commented on #113
Can I work on this issue under LGM SOC

[2021-06-15 14:14] jugeshraghav commented on #113
I am already working on this issue. 😇

On Tue, Jun 15, 2021, 19:42 Saloni ***@***.***> wrote:

[2021-06-15 14:20] priyaastha opened #286 "Want to add "LYRICS FINDER""
## 🚀 Feature

Most of us like to know the lyrics of the song we are listening to. So, in any music-related website, a 'lyrics finder' section is really important. Hence, I want to add this feature to improve the website.

## Motivation
Most of the users search for lyrics and since it is a one-stop destination for all music-related stuff, this feature will improve the user experience.

## Pitch
Thi

[2021-06-15 14:21] priyaastha commented on #286
/assign

[2021-06-15 14:37] Shaishav0507 opened #287 "Add Drum Kit as an Instrument"
## 🚀 Feature

Hey @nilisha-jais
I would like to add Drum kit as an instrument.
Please assign it to me.
Thanks

## Motivation

It will be great to add Drum Kit as most people play drums.

## Pitch

It will play certain key notes as of the same drum.
It can be played by pressing the keyword keys or by clicking on the screen.

## Add relevant screenshot or video (if any)

Please assign it under LGMSO

[2021-06-15 15:01] Sukhseerat-Kaur commented on #253
@niloysikdar Kindly assign me this under LGM-SoC'21

[2021-06-15 16:19] Shaishav0507 commented on #287
/assign

[2021-06-15 16:27] ArshWalker opened #288 "(Bug) Fixing Instrument gif not loading in About Section"
## 🐛 Bug Report

In the about section, the gif for the instrument is not loaded/showing.

I will fix that bug.
## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/54627391/122089532-7ad73200-ce24-11eb-98eb-0277c951521a.png)

@nilisha-jais Please Assign me under LGMSOC21.

[2021-06-15 16:32] #281 closed

[2021-06-15 17:01] itsij opened #289 "Improper visibility of social media icons"
## 🐛 Bug Report

Visibility of social media icons is not proper due to the background image's color and their grey border color is not in accordance with the color theme of the website.

## Add relevant screenshot or video (if any)

![image](https://user-images.githubusercontent.com/72145053/122093108-554c2780-ce28-11eb-9df2-ff59c09c964d.png)

I would like make changes to improve this and make it

[2021-06-15 17:04] ishikajn8126 commented on #289
/assign

[2021-06-15 17:41] RahulBansal0502 opened #291 "Theme, UI change Revamp contact page"
This website is awesome but I think the color combination of green is not so good on hovering somewhere there is black color or gray everywhere is different. I want to use the gradient of green instead of pure green color.

2. On the home page on hovering cards are colliding with each other. I want to align them.
3.  Revam Contact us page.

I wanted to work on these issues @nilisha-jais Assign it

[2021-06-15 18:29] Kritika-2000 opened #296 "Automatic Upgradation of Copyright Year"
## 🚀 Feature

The Year in the footer will update itself automatically every time by adding only a line of code

## Motivation

In the current project every year we need to update the copyright year manually which can be solved

## Additional context

Please assign this project to me. I am a participant of LGMSOC21

[2021-06-15 18:35] ghost commented on #296
/assign

[2021-06-15 19:05] jatinjain001 commented on #211
/assign

[2021-06-16 00:45] akitiashritha commented on #291
/assign
I would like to work on the revamping the contact us page
please assign it to me @nilisha-jais

[2021-06-16 02:14] #257 closed

[2021-06-16 02:18] #272 closed

[2021-06-16 02:20] #256 closed

[2021-06-16 02:23] #289 closed

[2021-06-16 02:26] #210 closed

[2021-06-16 02:30] #139 closed

[2021-06-16 02:44] #225 closed

[2021-06-16 02:48] harshita2216 commented on #291
@akitiashritha, I request you to pause your work for now as the mentors would be discussing who it should be assigned to. Thanks.

[2021-06-16 03:10] harshita2216 commented on #291
@RahulBansal0502, We have decided to assign this to you. Please go ahead.

[2021-06-16 03:12] RahulBansal0502 commented on #291
Ok Thanks. Can you please label it as LGMSOC21

[2021-06-16 03:55] #269 closed

[2021-06-16 04:01] gargi111 commented on #267
I want to work on this task .Pls assign me for this work.

[2021-06-16 04:27] niloysikdar commented on #296
What is the value of this issue ? @Kritika-2000

[2021-06-16 04:30] niloysikdar commented on #244
Is it necessary @nilisha-jais ?

[2021-06-16 04:33] vimalprogrammer commented on #244
I guess opening in new tab on clicking, might be a convenient way.

[2021-06-16 04:41] nilisha-jais commented on #244
we have an option of back button I guess we don't need it

[2021-06-16 04:42] niloysikdar commented on #250
Assigned @Adarsh88

[2021-06-16 04:45] vimalprogrammer commented on #244
@nilisha-jais @niloysikdar  yeah! My bad, I now only saw the updation of the back button! Like to contribute in different ways😊.

[2021-06-16 04:45] #244 closed

[2021-06-16 04:53] ghost commented on #296
@niloysikdar I will add a script using which we do not need to update the copyright every year manually . It will automatically update itself every time and doesn't need any manual upgradation .

[2021-06-16 04:55] Amit-45 opened #297 "Dark mode for the homepage"
Many users prefer dark mode over light mode . So I would like to add dark mode to the home page of the website .

Please assign me this issue under LGMSOC'21

[2021-06-16 04:55] niloysikdar commented on #296
Okay fine go ahead @Kritika-2000

[2021-06-16 04:56] niloysikdar commented on #253
Assigned @Sukhseerat-Kaur

[2021-06-16 05:00] #101 closed

[2021-06-16 05:01] ghost commented on #296
@niloysikdar thank you ✌️

[2021-06-16 05:21] niloysikdar commented on #261
Check #227

[2021-06-16 05:21] #261 closed

[2021-06-16 05:34] niloysikdar commented on #265
Assigned @nisha331

[2021-06-16 05:34] nilisha-jais opened #298 "Fix the responsiveness of the navbar in mobile view"

[2021-06-16 05:36] nilisha-jais commented on #298
@Kartikey0205 please take up this

[2021-06-16 05:36] niloysikdar commented on #267
Assigned @royalleads15

[2021-06-16 05:41] niloysikdar commented on #288
Assigned @ArshWalker

[2021-06-16 05:42] niloysikdar commented on #297
So what is the current mode ? @Amit-45

[2021-06-16 05:44] Kartikey0205 commented on #298
Thanks @nilisha-jais ,
Please assign me this .

[2021-06-16 05:48] #173 closed

[2021-06-16 06:36] niloysikdar commented on #275
That was fixed @ambivert-sam

[2021-06-16 06:36] #275 closed

[2021-06-16 07:28] starrohan999 opened #302 "ADD cursor : pointer property in every button on page of the website."
## 🚀 Feature

On the whole website, there are many buttons but when we hover on them the cursor did not change to Pointer.
So I would like to add on every page.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-16 07:28] starrohan999 commented on #302
/assign

[2021-06-16 07:43] harshita9621 commented on #297
,can you please assign this to me.

[2021-06-16 08:31] Shaishav0507 opened #305 "Correction in Step 6 of readme file ( Contribution Guidelines)"
## 🚀 Feature

Hey @nilisha-jais
There is a minor mistake in the step 6 of readme file under instructions to contribute.
Please assign it to me.
Thanks.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-16 08:31] Shaishav0507 commented on #305
\assign

[2021-06-16 08:33] Shaishav0507 commented on #305
/assign

[2021-06-16 08:39] #298 closed

[2021-06-16 08:44] #250 closed

[2021-06-16 08:48] #296 closed

[2021-06-16 08:52] #287 closed

[2021-06-16 08:53] nilisha-jais opened #307 "Add drumkit section in the main index.html file"

[2021-06-16 09:01] nikitaNishchal17 commented on #307
/assign

[2021-06-16 11:44] ArshWalker opened #312 "Adding Footer in About Section"
## 🚀 Feature

I will add a footer section in the about section.

@nilisha-jais @niloysikdar Please assign me under LGMSOC21

[2021-06-16 12:12] #307 closed

[2021-06-16 12:16] #126 closed

[2021-06-16 12:36] Sumit11081996 commented on #312
@nilisha-jais  please assign me this issue

[2021-06-16 12:40] ArshWalker commented on #312
@Sumit11081996 it's my issue brother.

[2021-06-16 12:43] ArshWalker commented on #312
/assign

[2021-06-16 12:45] ArshWalker commented on #312
@nilisha-jais please assign me under LGMSOC21

[2021-06-16 14:50] #211 closed

[2021-06-16 15:12] #224 closed

[2021-06-16 16:53] #288 closed

[2021-06-16 16:53] rishika789 opened #318 "footer icons"
footer icons colour is not much distinguised by the background of footer . I would like to change that.

![image](https://user-images.githubusercontent.com/78673968/122260987-85abc880-cef1-11eb-83b7-cdaa5e13a7db.png)

[2021-06-16 16:55] rishika789 commented on #318
@nilisha-jais
@niloysikdar
please assign me this

[2021-06-16 16:57] niloysikdar commented on #318
Assigned @rishika789

[2021-06-16 18:53] ishitakapoor26 opened #320 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 18:53] ishitakapoor26 commented on #320
/assign

[2021-06-16 22:25] #113 closed

[2021-06-16 22:28] #254 closed

[2021-06-16 22:36] #33 closed

[2021-06-16 23:02] niloysikdar commented on #320
Can you please tell more about this issue ?

[2021-06-16 23:04] #297 closed

[2021-06-17 04:33] varunwho opened #322 "Dark mode"
## 🚀 Feature

Dark mode for the website

[2021-06-17 04:34] varunwho commented on #322
/assign

[2021-06-17 06:22] Shaishav0507 opened #324 "Add Background Image to About us and Login Page"
## 🚀 Feature

Hey @nilisha-jais @niloysikdar
I would like to add background image to the about us and login page.
Please assign it to me.
Thanks

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-17 06:48] Shaishav0507 commented on #324
/assign

[2021-06-17 07:17] ishitakapoor26 commented on #320
@niloysikdar I want to add this
![score card](https://user-images.githubusercontent.com/78542333/122349754-2c33b000-cf6a-11eb-9fe2-6fda87af15ca.PNG)

[2021-06-17 07:21] anushruti11 opened #325 "Enhancing the UI of Login-Page"
## 🚀 Feature

I want to enhance the look of Login Page.

[2021-06-17 07:55] niloysikdar commented on #320
Should we add this @nilisha-jais  ?

[2021-06-17 07:56] akshikamudgal commented on #3
you have merged my code still it is not showing me as a contributor. why?

[2021-06-17 08:00] ishitakapoor26 commented on #320
@niloysikdar I can add this in text format too
![labels](https://user-images.githubusercontent.com/78542333/122356162-280a9100-cf70-11eb-931d-410a7b44dc05.PNG)

[2021-06-17 08:02] nilisha-jais commented on #320
@ishitakapoor26 there's no point to add this....Not needed!

[2021-06-17 08:02] #320 closed

[2021-06-17 08:04] #305 closed

[2021-06-17 08:31] #318 closed

[2021-06-17 08:36] niloysikdar commented on #3
@akshikamudgal , maybe your pr has been reverted, idn, I haven't reverted any pr as of now. @nilisha-jais  can you help in this issue ?

[2021-06-17 08:38] niloysikdar commented on #12
Unassigned you from the issue @akshatvirmani

[2021-06-17 08:40] Swarga-codes opened #327 "Modification of Navbar."
I would like to modify the navbar , to be more precise the CSS of the navbar to make the site look much better than before, @nilisha-jais please /assign this task to me.

[2021-06-17 08:43] niloysikdar commented on #131
Hey @sameer2403 , have you done any progress ?

[2021-06-17 08:43] niloysikdar commented on #327
Check #131

[2021-06-17 08:43] #327 closed

[2021-06-17 08:46] niloysikdar commented on #322
Can you please tell us about the current mode @varunwho ?

[2021-06-17 08:46] #322 closed

[2021-06-17 08:52] rishika789 opened #328 "go buttons"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-17 08:52] #328 closed

[2021-06-17 08:54] rishika789 opened #329 "go buttons"
The go buttons will look more catchy if on hovering size of go word increases and background colour changes.

![Screenshot (909)](https://user-images.githubusercontent.com/78673968/122364664-943cc300-cf77-11eb-9bd9-ef2b75aed203.png)

@niloysikdar
@nilisha-jais

[2021-06-17 08:56] niloysikdar commented on #329
Assigned @rishika789

[2021-06-17 08:56] niloysikdar commented on #325
Assigned @anushruti11

[2021-06-17 09:15] varunwho commented on #322
That is not called dark mode :)

[2021-06-17 09:52] ROHAN842 opened #331 "Alert Popup Box feature in contact form upon submission"
## 🚀 Feature

As when user fills the contact form and click on Submit button then there is no respond means neither the page reloads nor a successful message is delivered.

## Pitch

I want to add an alert which will pops up and will tell the user that message was delivered successfully, thanks for their submission.

## Add relevant screenshot or video (if any)

![image](https://user-images.github

[2021-06-17 09:53] ROHAN842 commented on #331
/assign

[2021-06-17 10:08] niloysikdar commented on #322
Okay my bad, we need to revamp the whole UI then.

[2021-06-17 10:14] royalleads15 opened #333 "Add login pages of social sites"
## 🚀 Feature

Add login pages of social sites placed in footer

## Motivation

Motivation comes from analyzing your website

## Pitch

So that on clicking fb and insta icon one can reach to relevant page.

[2021-06-17 10:14] #57 closed

[2021-06-17 10:14] royalleads15 commented on #333
/assign

[2021-06-17 10:15] royalleads15 commented on #333
@niloysikdar @nilisha-jais please add a label to this issue .

[2021-06-17 11:11] ashuydv opened #335 "About section's Card Images are not aligned properly"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/67309431/122383925-dcb0ac80-cf88-11eb-8998-f1c02baf5763.png)

In this picture, the cards images are not of proper width,

What can I do, is to make it of its full width, and make it look awesome, Plz assign me this issue under lgm soc

Thank You,

[2021-06-17 11:14] #324 closed

[2021-06-17 11:20] #200 closed

[2021-06-17 11:30] #265 closed

[2021-06-17 11:45] ashuydv opened #337 "Make UI more engaging"
## 🚀 Feature
We can make UI more engaging by adding gradient colors and by keeping the colors same through out the website, like what we can do is,

- make navbar either dark or transparent,
-  Adding transitions in navbar .i.e. the underline one ,
- modify the contact form and make it more user friendly
- We can make the loader, more amazing and engaging by making it bit smalller and make it of f

[2021-06-17 12:09] Shaishav0507 opened #338 "Add navbar in About and Login page"
## 🚀 Feature

Hey @nilisha-jais @niloysikdar
I would like to add navbar in about and login page
Please assign it to me.
Thanks

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-17 12:32] Aditi-Singh16 commented on #312
@ArshWalker actually I have opened this issue 2 days before and even made the pull request today, so I think you can close this issue :).

[2021-06-17 12:42] Aditi-Singh16 opened #340 "Make a register user page"
## 🚀 Feature

Register user page will take all the necessary details from users and create their account after required validations.

## Motivation

This registration page will help us keep track of users, who are enjoying the musicophilia website, and also help us save the user's activity.

## Pitch
With the help of this:
1. we can know the number of users enjoying the website
2. help us track th

[2021-06-17 12:43] Aditi-Singh16 commented on #340
/assign

[2021-06-17 12:44] ArshWalker commented on #312
@Aditi-Singh16 ok, np!

[2021-06-17 12:46] Aditi-Singh16 commented on #338
hello @Shaishav0507,

Actually, I have opened the issue 2 days before and even made the pull request today
So this issue has been resolved :)

[2021-06-17 12:46] #273 closed

[2021-06-17 12:46] #312 closed

[2021-06-17 12:51] Shaishav0507 commented on #338
@Aditi-Singh16 It's only done in about.
I'll do in login.

[2021-06-17 12:51] Shaishav0507 commented on #338
/assign

[2021-06-17 12:56] nilisha-jais commented on #338
Go ahead! About page already has one....You just need to add in the login page

[2021-06-17 12:56] Jagannath8 commented on #12
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-17 12:57] nilisha-jais commented on #335
Go ahead @ashuydv

[2021-06-17 13:01] Aditi-Singh16 opened #341 "add password validation in login page"
## 🐛 Bug Report

We can see that if the password field is empty the button is still being clicked, which should not happen
also there is no validation for passwords like 6 characters only, at least one special character, etc.
I would like to work on this issue.

[2021-06-17 13:02] Aditi-Singh16 commented on #341
/assign

[2021-06-17 13:12] Aditi-Singh16 commented on #340
@nilisha-jais should I proceed to work on this feature?.

[2021-06-17 13:18] nilisha-jais commented on #340
There's already a login page

[2021-06-17 13:20] Aditi-Singh16 commented on #340
okay i will close it

[2021-06-17 13:20] #340 closed

[2021-06-17 13:31] Shaishav0507 opened #343 "Add Favicon on all pages"
## 🐛 Bug Report

There is no favicon on all pages. It is only there in home page.
I would like to do the necessary changes.
Please assign it to me.

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-17 13:39] niloysikdar commented on #12
Assigned @Jagannath8 , go ahead

[2021-06-17 13:42] harshita2216 commented on #16
Unassigned @V-Yeshwanth. Up for grab! 🚀

[2021-06-17 13:44] harshita2216 commented on #20
Unassigned @coding-geek21.

[2021-06-17 13:44] Vedant-Jayesh-Oza commented on #16
Can I work on this issue @harshita2216 @niloysikdar @nilisha-jais ?

[2021-06-17 13:45] Shaishav0507 commented on #343
/assign

[2021-06-17 13:45] nitishapiplani commented on #16
May I work on this @nilisha-jais

[2021-06-17 13:46] joydeepnandi commented on #20
Can I work on this? @harshita2216

[2021-06-17 13:48] harshita2216 commented on #16
Go ahead @nitishapiplani. 🚀

[2021-06-17 13:56] harshita2216 commented on #121
@nilisha-jais, please check if we need these changes or not. Thanks.

[2021-06-17 14:17] harshita2216 opened #344 "Contact page enhacement"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/65803563/122413667-2eb2fb80-cfa4-11eb-9745-750cde13f7a7.png)

[2021-06-17 14:17] joydeepnandi commented on #344
/assign

[2021-06-17 14:55] #325 closed

[2021-06-17 15:38] WebShivam opened #346 "Increase site performance"
## 🐛 Bug Report!
The site takes a lot time while loading which will lead to non-engaging audience in future and nobody wants that, hence it needs to be looked after and loading speed needs to increased

## Add relevant screenshot or video (if any)
GT Metrix which is a popular web performance site Tester recommends loading time of contents to <=1.3 seconds for good user Experience but this site too

[2021-06-17 16:27] nisha331 opened #349 "correct the nav bar"
## 🐛 Bug Report
Show the active page in the nav bar.

## Add relevant screenshot or video (if any)

In this we cannot find out which page is active

![2](https://user-images.githubusercontent.com/76838660/122436740-b144b680-cfb6-11eb-810a-9eec2035742e.PNG)

I would like to change it this was for all the pages.

![1](https://user-images.githubusercontent.com/76838660/122436793-bb66b500-cfb6-11eb-8a

[2021-06-17 16:27] nisha331 commented on #349
/assign

[2021-06-17 16:53] #329 closed

[2021-06-17 17:28] #333 closed

[2021-06-17 17:38] nitishapiplani commented on #16
hey hamburger menu is working on my side this issue is wrong i guess

plzz check @nilisha-jais

[2021-06-17 17:44] namratadas1 commented on #89
@niloysikdar I am still training the chatbot. May I get 1 day more?

[2021-06-17 17:44] Vedant-Jayesh-Oza commented on #16
Hey @nitishapiplani now its working first it wasn't working someone would have solved it

[2021-06-17 17:46] harshita2216 commented on #16
@nitishapiplani, thank you for noticing that. We shall now close this issue. Please create other issues or comment on existing ones.
Thanks. :)

[2021-06-17 17:46] #16 closed

[2021-06-17 17:50] nitishapiplani commented on #16
no need @nilisha-jais

[2021-06-17 17:53] nitishapiplani opened #351 "view of hambarger menu"
![Capture](https://user-images.githubusercontent.com/83905949/122449249-49489d00-cfc3-11eb-8cf7-ca71a11ae21b.PNG)
look need to be changed

[2021-06-17 17:55] nitishapiplani commented on #351
/assign

[2021-06-17 18:12] #331 closed

[2021-06-17 18:12] nitishapiplani commented on #351
![m1](https://user-images.githubusercontent.com/83905949/122451293-97f73680-cfc5-11eb-8e26-5e5857fadbea.PNG)
![m2](https://user-images.githubusercontent.com/83905949/122451301-9a599080-cfc5-11eb-9046-c824b5de57a7.PNG)
plzz check if you like this look do tell me so that i can change look on each page

[2021-06-17 18:15] rishika789 opened #353 "navbar on hovering"
the right side buttons on navbar on hovering changes to grey not maching theme of website.
I would like to change the effect.

![Screenshot (913)](https://user-images.githubusercontent.com/78673968/122450574-cb859100-cfc4-11eb-936d-187de5b312d8.png)

[2021-06-17 18:16] rishika789 commented on #353
@niloysikdar
@nilisha-jais

[2021-06-17 18:22] rishika789 opened #354 "footer on each page"
footer on each page is different. I would like to make it as in homepage.

homepage

![Screenshot (914)](https://user-images.githubusercontent.com/78673968/122452565-02f53d00-cfc7-11eb-9426-b52f7c756a62.png)

other pages

![Screenshot (915)](https://user-images.githubusercontent.com/78673968/122452592-0be60e80-cfc7-11eb-8fe0-3e50c75e3247.png)

![Screenshot (916)](https://user-images.githubusercont

[2021-06-17 18:24] rishika789 commented on #354
@nilisha-jais
@niloysikdar

[2021-06-17 18:44] nitishapiplani opened #355 "button not working on login page"
i would like to make it working. @nilisha-jais

[2021-06-17 18:51] niloysikdar commented on #89
Try to complete it asap @namratadas1

[2021-06-17 18:57] niloysikdar commented on #353
We have already solved the hovering issue, but yeah you can enhance the active state. @rishika789

[2021-06-17 19:00] rishika789 commented on #353
LIKE WE SHOULD KNOW WHICH PAGE ARE WE VIEWING?

[2021-06-17 19:12] niloysikdar commented on #353
Yes, you can see [here ](https://deploy-preview-350--musicophilia.netlify.app/)

[2021-06-17 19:13] rishika789 commented on #353
OK LIKE ACTIVE STATE COLOUR SCHEME WILL BE CHANGED

[2021-06-17 19:14] rishika789 commented on #353
ONCE PLEASE HAVE A  LOOK  ON ISSUE #354  ALSO

[2021-06-17 19:18] niloysikdar commented on #354
Go ahead @rishika789

[2021-06-17 19:19] rishika789 commented on #353
BUT WHEN I OPEN THE WEBSITE IT IS STILL HAVING THE OLD LOOK LIKE NAVBAR CONTAINS BUTTONS FOR EACH.

musicophilia.netlify.app/

[2021-06-17 19:20] niloysikdar commented on #353
Cz we haven't merged the pr yet @rishika789 , but we will merge soon

[2021-06-17 19:29] rishika789 commented on #353
OKK SO AFTER MERGING ONLY I CAN DO CHANGES RIGHT ?

[2021-06-17 19:30] rishika789 commented on #353
BECUSE IN THAT CSS PR THERE MUST BE CHANGES, AFTER MERGING PLEASE LET ME KNOW.

[2021-06-17 19:36] niloysikdar commented on #353
Yes please wait until we marge it.

[2021-06-17 19:37] nitishapiplani commented on #351
plzz check @nilisha-jais

[2021-06-17 19:48] rishika789 commented on #353
OKAY

[2021-06-17 20:09] #249 closed

[2021-06-18 07:04] akshikamudgal commented on #3
Code is merged check it out why not added as an contributor @nilisha-jais

[2021-06-18 08:19] nilisha-jais commented on #3
We are looking into the issue
Did you commit via a different git mail than what is in your GitHub profile??

[2021-06-18 08:21] akshikamudgal commented on #3
No

[2021-06-18 08:33] #343 closed

[2021-06-18 09:47] niloysikdar commented on #3
Hey @akshikamudgal , we have found the issue. Please have a look at the screenshot and [this doc](https://docs.github.com/en/github/committing-changes-to-your-project/troubleshooting-commits/why-are-my-commits-linked-to-the-wrong-user). @nilisha-jais was correct.

<img src="https://user-images.githubusercontent.com/58071992/122542308-2dd3a580-d048-11eb-8dca-75e23be5366e.PNG" width="1000">

[2021-06-18 10:02] akshikamudgal commented on #3
Check this once and guide me what to do.
![image](https://user-images.githubusercontent.com/66902249/122544416-6d02f600-d04a-11eb-8f13-3b4a5c2b395f.png)

[2021-06-18 10:41] supzi-del opened #359 "Typo in heading on homepage"
## 🐛 Bug Report

The correct spelling should be "Mindful Music" rather than "Mindfull".I would like to fix this under LGM SOC.

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-18 10:48] supzi-del opened #360 "Add more UI features on sign in page"
## 🚀 Feature

I would like to add the following things on the sign-in page-
Cursor pointer on sign-in and sign up button
Zoom in animation on social media icons
Inner box shadow on input boxes.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

[2021-06-18 12:23] ShwetKhatri2001 opened #363 "Showing dance videos as cards and main playing video as popup onclick to card"
## 🚀 Feature

We have main video and other videos on two different sides currently, instead of that we can have all videos as cards on whole page and height and main video can be seen in new popup window at center

## Pitch

Videos can be arranged and seen more properly after this

@niloysikdar I would like to work on this issue under LGM-SOC.

[2021-06-18 12:28] niloysikdar commented on #363
Assigned @ShwetKhatri2001

[2021-06-18 13:31] #338 closed

[2021-06-18 13:37] #12 closed

[2021-06-18 13:47] Shaishav0507 opened #364 "Fix Navbar in Drum Kit"
## 🐛 Bug Report

Hey @niloysikdar @nilisha-jais
Navbar in drum kit is not fixed.
Please assign it to me.
Thanks

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-18 13:49] Shaishav0507 commented on #364
/assign

[2021-06-18 14:54] nilisha-jais commented on #346
Go ahead @WebShivam .Fix this!

[2021-06-19 07:17] #219 closed

[2021-06-19 07:36] Shaishav0507 opened #367 "Back button in Metronome"
## 🐛 Bug Report

Hey @niloysikdar
There is no back button in metronome.
Please assign it to me.
Thanks

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-19 11:31] Shaishav0507 commented on #367
/assign

[2021-06-19 11:31] #367 closed

[2021-06-19 12:24] #351 closed

[2021-06-19 12:29] #364 closed

[2021-06-19 12:30] nilisha-jais commented on #355
Go ahead @nitishapiplani

[2021-06-19 12:37] nilisha-jais commented on #3
You please set up your git bash with the same mail id as in your github account

[2021-06-19 13:47] niloysikdar commented on #360
Assigned @supzi-del

[2021-06-19 13:49] niloysikdar commented on #337
Assigned @ashuydv

[2021-06-19 13:50] niloysikdar commented on #359
Assigned @supzi-del

[2021-06-19 17:45] royalleads15 opened #369 "It opens login page on clicking on theme"
## 🐛 Bug Report
login form open on clicking theme

[2021-06-20 05:18] #363 closed

[2021-06-20 05:22] RahulBansal0502 commented on #291
@nilisha-jais actually I have raised 3 issues under this and 2 are remaining so can u open this again or I will raise it again

[2021-06-20 05:25] #359 closed

[2021-06-20 05:25] #360 closed

[2021-06-20 05:28] nilisha-jais commented on #291
Okay

[2021-06-20 07:18] harishpansari commented on #369
I am interested may you assigned me.

[2021-06-20 09:00] ashana1647 commented on #131
please assign me this issue under LGMSOC21

[2021-06-20 09:02] ashana1647 commented on #131
/assign

[2021-06-20 09:12] ashana1647 opened #375 "making the navbar identical for all the pages"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## Add relevant screenshot or video (if any)

(Add here)
the nav bars of all pages are different. All the pages must have same navbars otherwise it wont look professional.
![2021-06-20 (1)](https://user-images.githubusercontent.com/60913775/122668401-884e3c80-d1d5-11eb-8a56-351c6805b0c8.png)
![2021-06-20 (2)](https://user-imag

[2021-06-20 09:13] ashana1647 commented on #375
/assign

[2021-06-20 10:55] nisha331 commented on #375
The pr for this have been already made. @ashana1647

[2021-06-20 11:18] anandalisha opened #376 "Adding karaoke feature"
## 🚀 Feature

Using Web Audio API , I would like add on  karaoke filter  to remove the voice from a song.

Drag and drop a music file (mp3) and sing it !!

[2021-06-20 11:26] anandalisha commented on #376
/assign

[2021-06-20 12:21] shivalikaa commented on #369
Please assign this task to me @royalleads15 .

[2021-06-20 12:59] sameer2403 commented on #131
No ,please unassign me

[2021-06-20 13:49] niloysikdar commented on #131
Assigned @ashana1647

[2021-06-20 13:57] priyaastha commented on #286
I have made changes and created a pull request. Kindly view my pull requests and merge them

[2021-06-20 14:11] akshikamudgal commented on #3
I have checked that it is same for both.

[2021-06-20 14:54] royalleads15 commented on #369
/assign

[2021-06-20 15:18] Jagannath8 opened #378 "Improve footer"
## 🚀 Feature

Footer should be improved

[2021-06-20 15:37] harishpansari commented on #378
Please assign this task to me @Jagannath8

[2021-06-20 15:58] Jagannath8 commented on #378
Can I work on this issue? I'm a participant of LGM Soc21. @nilisha-jais @niloysikdar

[2021-06-20 18:17] microsaurav opened #383 "Readjustment of content of the menubar in mobile view(hamburger)"
The content inside the menu bar is not looking good in mobile view. The content is aligned to the extreme right if it will be in the middle it would be good.

![image](https://user-images.githubusercontent.com/66825257/122684220-c6714d80-d221-11eb-9e21-aa802ac4acd2.png)

[2021-06-20 18:18] microsaurav commented on #383
Assign this issue to me

[2021-06-20 18:22] namratadas1 opened #384 "Changing UI and adding back button in drum page"
## 🚀 Feature
Changing UI and adding back button in drum page

[2021-06-20 18:23] namratadas1 commented on #384
May I work on this?

[2021-06-20 18:23] microsaurav commented on #383
/assign

[2021-06-20 18:28] #207 closed

[2021-06-20 18:29] namratadas1 commented on #384
/assign

[2021-06-20 18:39] #369 closed

[2021-06-20 18:45] #253 closed

[2021-06-20 18:51] #286 closed

[2021-06-20 19:05] #349 closed

[2021-06-20 20:56] ayushseth07 opened #386 "Adding pressing effect to the buttons on drum page when triggered through keyboard"
when we press the corresponding button on keyboard no pressing effect is shown on the screen. We can add a shadow for the moment when the button is pressed .

[2021-06-20 20:56] ayushseth07 commented on #386
please assign this issue to me

[2021-06-20 20:57] ayushseth07 commented on #386
/assign

[2021-06-20 20:57] niloysikdar commented on #378
Assigned @Jagannath8

[2021-06-20 21:16] #384 closed

[2021-06-20 21:18] namratadas1 opened #387 "Revamp contact page"
## 🐛 Bug Report

Will fix bug in contact page.

[2021-06-20 21:19] namratadas1 commented on #387
/assign

[2021-06-21 04:49] harshita9621 commented on #378
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-21 05:39] Khushi-agarwal commented on #266
I am working on it.

[2021-06-21 11:06] #89 closed

[2021-06-21 11:12] #378 closed

[2021-06-21 12:01] Jagannath8 opened #391 "Footer in every page"
## 🚀 Feature

Adding footer in every page

[2021-06-21 12:02] Jagannath8 commented on #391
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-21 15:03] Ritika091 opened #393 "Improve the login and sign up page"
## 🚀 Feature

Improve the css and add some more thing like remember me and some other thing on the sign in and sign up page. Please assign me this issue.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-21 15:04] Ritika091 commented on #393
/assign

[2021-06-21 16:29] kumarishalini6 opened #394 "Scroll tot op button"
## 🚀 Feature

I want to make a scroll tot op button in each and every page
@nilisha-jais  can i work on this issue

[2021-06-21 16:31] kumarishalini6 commented on #394
@nilisha-jais / assign

[2021-06-21 16:31] kumarishalini6 commented on #394
/assign

[2021-06-21 16:33] kumarishalini6 opened #395 "Chat Bot is not working"
## 🐛 Bug Report
@nilisha-jais  i want to work on this issue

/assign

[2021-06-21 16:34] kumarishalini6 opened #396 "Forget password page"
## 🐛 Bug Report

There is forget password option but page is not available i want to make that page

/assign

[2021-06-21 16:35] #396 closed

[2021-06-21 16:55] kumarishalini6 commented on #395
Sorry it's working

[2021-06-21 16:55] #395 closed

[2021-06-21 16:56] kumarishalini6 opened #397 "Forget password page"
## 🐛 Bug Report
There is option of forget password but the page  is not available
/assign

[2021-06-21 18:03] jatinjain001 commented on #267
I would like to work on it
If it is available let me know

[2021-06-21 18:30] ayushseth07 opened #399 "Different sounds playing on drum page"
## 🐛 Bug Report

different sounds are playing on pressing the button thourgh keyboard or when we click on it.

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-21 18:30] ayushseth07 commented on #399
/assign

[2021-06-21 18:33] jatinjain001 commented on #267
I would like to work on it
If it is available let me know

[2021-06-21 18:37] #386 closed

[2021-06-21 20:00] microsaurav opened #400 "Making content of about page to look good in mobile view"
Contents of the about us page is not looking good in mobile view and it should look same as the home page.

![old](https://user-images.githubusercontent.com/66825257/122820544-5c2bdc00-d2f9-11eb-9235-1ae1a711e3ec.PNG)

[2021-06-21 20:01] puneetkaur2929 opened #401 "Responsiveness of guess the singer page not working"
Hey @nilisha-jais
Responsiveness to guess the singer Page is not working for different devices.

I am interested to work on this issue.
Kindly assign this issue to me under LGM SOC '21
![Screenshot (38)](https://user-images.githubusercontent.com/80326308/122820469-44ecee80-d2f9-11eb-8a57-a92908aa6401.png)

[2021-06-21 20:03] puneetkaur2929 commented on #401
/assign

[2021-06-21 20:05] microsaurav commented on #400
/assign

[2021-06-22 02:50] #383 closed

[2021-06-22 04:22] harshita9621 commented on #391
Can I work on this issue please assign?

[2021-06-22 05:19] anusham14 opened #403 "Responsiveness of lyrics finder page"
## 🐛 Bug Report
Hey @nilisha-jais
Responsiveness to lyrics finder Page is not working for different devices.

I am interested to work on this issue.
Kindly assign this issue to me under LGM SOC '21
![Screenshot (393)](https://user-images.githubusercontent.com/55886250/122867327-ed756f80-d346-11eb-8f0c-11eaa956d4ef.png)

[2021-06-22 05:22] anusham14 commented on #403
/assign

[2021-06-22 06:11] #266 closed

[2021-06-22 06:14] nilisha-jais opened #404 "The "Chatbot" and "Go to top" button are overlapping"

[2021-06-22 06:43] anushruti11 commented on #404
I would like to work on this issue.

[2021-06-22 06:54] akshikamudgal commented on #3
Any updates ???? @nilisha-jais

[2021-06-22 07:57] #399 closed

[2021-06-22 08:36] microsaurav opened #407 "In mobile view menu bar is not working in about page"
In mobile view on the about page when we click on the navigation button the menu bar is not getting displayed.

https://user-images.githubusercontent.com/66825257/122892353-f07e5900-d362-11eb-907f-9b6f7c9ebd54.mp4

[2021-06-22 08:36] microsaurav commented on #407
/assign

[2021-06-22 09:08] jugeshraghav opened #408 "Add scroll to top button in every page."
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-22 09:14] kumarishalini6 commented on #397
/assign

[2021-06-22 10:39] kumarishalini6 opened #411 "Custom scrollbar"
## 🐛 Bug Report
In some pages custom scrollbar is available and in some not i want to make in every page

[2021-06-22 10:39] kumarishalini6 commented on #411
/assign

[2021-06-22 10:40] #411 closed

[2021-06-22 11:39] ayushseth07 commented on #408
/assign

[2021-06-22 11:44] #400 closed

[2021-06-22 11:46] kumarishalini6 commented on #397
Merged thanks

[2021-06-22 11:46] #397 closed

[2021-06-22 11:47] kumarishalini6 opened #412 "Custom Scrollbar"
## 🐛 Bug Report

In some pages custom Scrollbar is not available I want to make in every page

[2021-06-22 11:47] kumarishalini6 commented on #412
/assign

[2021-06-22 11:54] #394 closed

[2021-06-22 12:11] nilisha-jais commented on #404
Assigned @anushruti11

[2021-06-22 12:19] nilisha-jais commented on #3
I cannot help you in this case as there was an issue from your end
Check [this](https://github.com/nilisha-jais/Musicophilia/pull/389)  she too did the same but we were able to figure out

[2021-06-22 12:21] nilisha-jais commented on #3
All we can do is when you make your next pull request we can assign it a higher level so that we can make up the loss

[2021-06-22 12:41] kumarishalini6 opened #414 "Footer is not fixed and improving Contact us page"
## 🐛 Bug Report
The footer is not fixed and i also want to redesign contact us page

[2021-06-22 12:41] kumarishalini6 commented on #414
/assign

[2021-06-22 12:52] #412 closed

[2021-06-22 16:11] #407 closed

[2021-06-22 16:13] anushruti11 commented on #404
Hey! @nilisha-jais Please mention the steps to reproduce the same.

[2021-06-22 16:13] #403 closed

[2021-06-22 16:16] nilisha-jais commented on #404
The is solved by someone. Try to find a new one :)

[2021-06-22 16:16] #404 closed

[2021-06-22 16:17] anushruti11 opened #417 "Fixing the About Page"
## 🐛 Bug Report

The gif's in the cards of "About Page" are not in proper alignment.

## Add relevant screenshot or video (if any)

![screencapture-127-0-0-1-5501-About-index-html-2021-06-22-21_44_29](https://user-images.githubusercontent.com/65386044/122962720-512d8600-d3a3-11eb-8892-99feac8fa47b.png)

[2021-06-22 16:20] devfatimalatif commented on #391
Assign me thi issue

[2021-06-22 16:22] anushruti11 commented on #417
@nilisha-jais Can I work on this issue?

[2021-06-22 16:24] nilisha-jais commented on #417
There's already a pull request which fixes it!

[2021-06-22 16:27] #376 closed

[2021-06-22 16:31] #408 closed

[2021-06-22 17:45] kumarishalini6 opened #419 "Index page"
## 🚀 Feature
I want to make index page from where a person can enter .

[2021-06-22 17:45] kumarishalini6 commented on #419
/assign

[2021-06-22 18:27] ayushseth07 opened #420 "Create bubbles on band page"
## 📚 Documentation

Bubbles that are being displayed on band page when the button is clicked are not being displayed when they are triggered through keyboard

[2021-06-22 18:27] ayushseth07 commented on #420
/assign

[2021-06-22 19:18] Divyanshj opened #422 "Adding the eye functionality to make it more user friendly"
## 🚀 Feature

Adding eye functionality in the password field in both signup and signin sections in order to make those sections more user friendly

## Motivation

Sometimes we write the password incorrectly and it is impossible to locate the typo amongst those dots so with the eye funcionality the user can see the password anytime and locate the typo and correct it , instead of deleting the whole

[2021-06-22 19:19] Divyanshj commented on #422
/assign

[2021-06-22 20:35] #121 closed

[2021-06-22 21:09] Jagannath8 commented on #354
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-22 21:13] rishika789 commented on #354
I am working on it .

On Wed, Jun 23, 2021, 2:39 AM Jagannath8 ***@***.***> wrote:

[2021-06-23 01:36] SanjuktaSunam opened #423 "Added singers' image"
## 📚 Documentation
I would like to add more singers' image in Guess the singer folder.

[2021-06-23 01:36] SanjuktaSunam commented on #423
Please assign it to me

[2021-06-23 01:42] SanjuktaSunam commented on #423
/assign

[2021-06-23 02:14] nilisha-jais commented on #423
Already the size of the repo is too big. We don't need more images. Think if we can use any API then you can work on that

[2021-06-23 02:14] #423 closed

[2021-06-23 02:22] #420 closed

[2021-06-23 04:08] Abhishek-Sahoo opened #425 "Problem in Cards"
## 🐛 Bug Report

1. Feature of Karaoke card is different from others.
2. Alignment problem in cards of About page.

## Screenshot

![2021-06-23](https://user-images.githubusercontent.com/61592628/123034074-81f2d700-d406-11eb-86bf-ee7fa1a7f2d5.png)
![2021-06-23 (1)](https://user-images.githubusercontent.com/61592628/123034094-88814e80-d406-11eb-8c93-ccd5e6f64e90.png)

**Allow me to solve this issue

[2021-06-23 04:15] Abhishek-Sahoo commented on #425
/assign

[2021-06-23 06:43] jugeshraghav opened #426 "Can I add database for signup and login page"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-23 06:44] jugeshraghav commented on #426
/assign

[2021-06-23 06:44] jugeshraghav commented on #426
I would like to work on the issue

[2021-06-23 07:22] nitishapiplani commented on #417
is this issue open or close
if open plzz assign

[2021-06-23 07:36] anushruti11 commented on #417
As mentioned above there's already a pull request which fixes this issue so it's not available now.

[2021-06-23 07:36] #417 closed

[2021-06-23 10:46] #393 closed

[2021-06-23 10:58] #414 closed

[2021-06-23 10:59] #419 closed

[2021-06-23 11:11] kumarishalini6 opened #433 "New released page"
## 🚀 Feature
I want to add a card for new released section in which we have list of new released song .

[2021-06-23 11:11] kumarishalini6 commented on #433
/assign

[2021-06-23 11:11] #291 closed

[2021-06-23 12:38] #422 closed

[2021-06-23 13:00] Divyanshj opened #436 "Login page is having bugs"
## 🐛 Bug Report

Both sign in and sign up sections are asking for password multiple times and the position of eye is not correct.

## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/72750492/123100782-0a966500-d451-11eb-96df-b7202363607b.png)
![image](https://user-images.githubusercontent.com/72750492/123100850-197d1780-d451-11eb-87b4-b049ea481b68.png)

[2021-06-23 13:01] #425 closed

[2021-06-23 13:05] Divyanshj commented on #436
/assign

[2021-06-23 15:28] jugeshraghav commented on #426
@niloysikdar should i use nodejs or php for the backend

[2021-06-23 15:55] saloni32 commented on #302
I would like to work on this issue if available.

[2021-06-23 15:55] saloni32 commented on #302
/assign

[2021-06-23 18:28] supzi-del opened #440 "Add a transform of scale instead of scaleX"
## 🚀 Feature

When "Go" buttons are hovered, the present ScaleX property seems to scale it horizontally which does not look good.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

I would like to add a scale transition to have a zoom in effect.

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-23 18:28] supzi-del commented on #440
I would like to work on it under LGMSOC.

[2021-06-24 02:14] #436 closed

[2021-06-24 02:16] #267 closed

[2021-06-24 02:22] nilisha-jais commented on #426
Use node

[2021-06-24 04:01] kumarishalini6 opened #442 "old song collection"
## 🚀 Feature
I want to add a section of old songs

[2021-06-24 04:01] kumarishalini6 commented on #442
/assign

[2021-06-24 05:50] SUSHANT731 opened #443 "Contact page is overlapping with footer"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)
![Screenshot (248)](https://user-images.githubusercontent.com/70851543/123209374-1f6d0a00-d4de-11eb-83f3-dd1f77f5d470.png)

## Add relevant screenshot [or](url) video (if any)

(Add here)

[2021-06-24 05:50] SUSHANT731 commented on #443
plz assign this task to me

[2021-06-24 05:51] SUSHANT731 commented on #443
/assign

[2021-06-24 09:35] SanjuktaSunam opened #445 "Add more tabla beats"
## 🚀 Feature
I would like to add more tabla beats in sound folder of tabla

## Motivation
There are only two music provided for tabla and I think there should be more of it.

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-24 09:35] SanjuktaSunam commented on #445
/assign

[2021-06-24 12:38] #401 closed

[2021-06-24 13:00] #442 closed

[2021-06-24 15:14] #387 closed

[2021-06-24 15:17] harshita2216 commented on #21
This issue has been taken care of.

[2021-06-24 15:17] #21 closed

[2021-06-24 15:26] #181 closed

[2021-06-24 15:26] #302 closed

[2021-06-24 15:27] #344 closed

[2021-06-24 15:30] harshita2216 commented on #443
Hey @SUSHANT731. It looks like the issue has been taken care of, hence closing this. Thanks.

[2021-06-24 15:30] #443 closed

[2021-06-24 15:31] Srit20 commented on #341
can i work on this issue. I'm a participant of LGM-SOC21

[2021-06-24 15:33] #391 closed

[2021-06-24 18:08] nisha331 opened #448 "miscellaneous changes."
## 🐛 Bug Report

* remove band gif from band page.(page would look better without it).
* remove footer from band page.(no other page has footer)
* add back button to lyrics finder page.
* Give Heading "All out Musicophilia " to about page.
* add favicon in karioke page.
## Add relevant screenshot or video (if any)

(Add here)

[2021-06-24 18:15] nitishapiplani commented on #160
may i work on this if not yet solved

[2021-06-24 18:21] nitishapiplani opened #449 "theme button on nav bar redirecting to wrong page"
## 🐛 Bug Report

when we click on theme button login page opens

[2021-06-24 18:21] nitishapiplani commented on #449
/assign

[2021-06-24 18:40] Divyanshj commented on #448
/assign

[2021-06-24 20:51] supzi-del commented on #440
/assign

[2021-06-25 02:33] #375 closed

[2021-06-25 02:53] Amrutha1101 commented on #43
Can I work on this issue under LGM-SOC?

[2021-06-25 04:26] nisha331 commented on #448
Sorry @Divyanshj i could have also given /assign and get it assigned after creating the issue but i wants the mentors and the project admin to check that the changes won't disturb the project . So i request you to unassign yourself.

[2021-06-25 05:09] nitishapiplani commented on #131
can i work on this you can take best design

[2021-06-25 07:16] abhib074 opened #452 "Piano : To extend the octaves and audio updation."
## 🚀 Feature

I want to extend the octaves and link better audio quality notes of the keys and want to improve the styling of the site.

[2021-06-25 07:17] abhib074 commented on #452
I am a Participant of LGM-SoC 2021.
Can I work on this issue ?

[2021-06-25 09:12] Divyanshj commented on #448
@nisha331 No problem

[2021-06-25 15:22] pallavi-1812 opened #453 "Input fields in contact us page blend in the background."
## 🐛 Bug Report
Input fields in contact us page blend in the background. I would like to add beige color in input background to enhance it's look and so that it does not blend with the background image. Please assign me this issue.

## Add relevant screenshot or video (if any)
![Annotation 2021-06-25 205155](https://user-images.githubusercontent.com/67572675/123447227-3a7f6d00-d5f7-11eb-9979-d4919

[2021-06-26 03:42] bharth-stack opened #454 "piano game"
## 🚀 Feature

I want to add a piano game where piano makes some random sounds after starting the game and the player have the guess the sound exactly by clicking the piano buttons.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-26 14:15] adi611 commented on #242
/assign

[2021-06-26 14:16] adi611 commented on #160
/assign

[2021-06-26 14:22] adi611 commented on #25
/assign

[2021-06-26 15:45] abhib074 commented on #452
/assign

[2021-06-26 21:03] Saumya-Patel opened #456 "Google plus sign in contact us page"
## 🐛 Bug Report

the google+ sign is not visible to user in contact us page. Also the font size of logo(musicophilia) is different from the the home page.
please assign me to correct it.
![Screenshot (8)](https://user-images.githubusercontent.com/65481508/123525647-edcb8d00-d6ef-11eb-9881-0cd71480301a.png)

## Add relevant screenshot or video (if any)

(Add here)

[2021-06-26 21:09] Saumya-Patel commented on #456
/assign

[2021-06-27 11:06] RiyaGupta89 commented on #453
Can I work on this issue?

[2021-06-27 11:07] RiyaGupta89 commented on #448
Is this issue open, can I work on this issue?

[2021-06-27 16:57] anushruti11 opened #458 "Revamp Contact Page"
## 🚀 Feature

Change the UI of Contact us page.

## Motivation

The Contact Us form UI is just similar as Login and Signup page.

@nilisha-jais Can I work on this issue?

[2021-06-27 19:10] Jagannath8 opened #459 "Adding quotes"
## 🚀 Feature

Adding quotes in cards of Rollick Games.

[2021-06-27 19:10] Jagannath8 commented on #459
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-28 05:20] #440 closed

[2021-06-28 05:27] #452 closed

[2021-06-28 10:55] Jagannath8 commented on #459
/assign

[2021-06-28 13:30] Srijan1878 commented on #20
Can you assign this to me? @harshita2216

[2021-06-28 13:48] #458 closed

[2021-06-28 13:58] harshita2216 commented on #453
@pallavi-1812, can you also make the contact page responsive? If you can, then please edit this issue name and add that too.
Thanks.

[2021-06-28 18:28] #456 closed

[2021-06-29 02:56] jugeshraghav commented on #426
I am working on it please give me time as I have exams .

On Tue, Jun 29, 2021, 08:14 github-actions[bot] ***@***.***>
wrote:

[2021-06-29 05:16] niloysikdar commented on #426
Sure @jugeshraghav , Thanks for letting us know. Finish your exams, take your time.

[2021-06-29 13:15] #20 closed

[2021-06-29 13:37] #448 closed

[2021-06-29 15:48] #433 closed

[2021-06-29 16:40] Ruchi-163 opened #464 "Center alignment of Rollick games"
The content in the cards aren't in the centre.
Like in memory game card i shifted in down and other two have default settings.

I can change it. If you like this please assign it to me.

![Screenshot 2021-06-29 at 9 52 01 PM](https://user-images.githubusercontent.com/78250934/123835806-9d8a4000-d926-11eb-8d8e-3b5f93f5ec4d.png)

[2021-06-29 16:41] Ruchi-163 commented on #464
/assign

[2021-06-29 18:34] #449 closed

[2021-06-29 20:12] #445 closed

[2021-06-30 04:56] saloni-15 opened #466 "Navbar toggle button not working on "About" and "Login" page."
## 🐛 Bug Report

### The navbar toggle button for small screen sizes is not working in the "about" and "login" pages.

![image](https://user-images.githubusercontent.com/75828760/123903968-479cb300-d98d-11eb-8b6c-61a0c9fd4735.png)
### The navbar is not expanding on clicking the icon.

## I would like to work on this issue.

[2021-06-30 04:57] saloni-15 commented on #466
/assign

[2021-06-30 18:12] RituCs commented on #355
I would like to work on this issue.

[2021-06-30 21:54] Anadee11 commented on #453
@harshita2216   If the issue is open to work on please edit the issue and I would like to get this one assigned and work on the contact page.

[2021-07-01 03:52] pallavi-1812 commented on #453
@harshita2216 Hey, sorry for delay, I had some issues with my laptop. I would love to work on this issue and making the contact page responsive. Can I get this issue assigned to me?

[2021-07-01 05:29] #466 closed

[2021-07-01 05:32] #464 closed

[2021-07-01 05:38] #459 closed

[2021-07-01 05:46] niloysikdar opened #469 "[Bug] Alignment of text"
## 🐛 Bug Report

Need to center the text of the cards in y-axis.

## Add relevant screenshot or video (if any)

![Capture](https://user-images.githubusercontent.com/58071992/124071807-8e59de00-da5d-11eb-91a3-b847921791c2.PNG)

[2021-07-01 06:48] ij007 commented on #469
I would like to work in it.

[2021-07-01 06:50] niloysikdar commented on #469
Go ahead @ij007

[2021-07-01 08:35] saloni-15 opened #471 "Odd color cards in About Us section"
## 🐛 Bug Report

- ### The color of the card looks different. The first card is more bright.
- ### Also, the images are not aligned to the center.
- ### Typo in Heading.

![image](https://user-images.githubusercontent.com/75828760/124093094-27482380-da75-11eb-87a2-77ad44c2e276.png)

[2021-07-01 08:38] saloni-15 commented on #471
@niloysikdar @nilisha-jais
Assign this to me.

[2021-07-01 08:39] niloysikdar commented on #471
Assigned @saloni-15

[2021-07-01 13:22] #471 closed

[2021-07-01 16:55] niloysikdar commented on #453
Sure @pallavi-1812 , go ahead.

[2021-07-01 16:58] niloysikdar commented on #355
Go ahead @RituCs

[2021-07-01 17:01] niloysikdar commented on #341
Go ahead @Srit20

[2021-07-01 18:12] ij007 commented on #469
Are you satisfied with y-axis alignment of above cards (in mindful music section)?

[2021-07-01 18:25] niloysikdar commented on #469
Yes just put the text to the center along y-axis @ij007

[2021-07-02 06:57] #469 closed

[2021-07-02 12:07] SilverGraph opened #474 "Adjusting the CSS for 'Contact Us' page in mobile view"
## 🐛 Bug Report

Input fields are too short and their corresponding placeholder text are not properly visible

## Add relevant screenshot or video (if any)

![musicophilia netlify app_contact-us_contact(iPhone X)](https://user-images.githubusercontent.com/74287708/124272240-1a522f80-db5c-11eb-914b-e30f451266e0.png)

[2021-07-02 13:32] siddhi-244 commented on #474
Can I try this ?

[2021-07-02 13:32] girija0707 opened #475 "About page is not responsive on mobile"
## Add relevant screenshot or video
![screenshot](https://user-images.githubusercontent.com/63583646/124282126-17f5d280-db68-11eb-8b7e-304514e9a219.jpeg)

[2021-07-02 13:33] girija0707 commented on #475
/assign

[2021-07-02 16:14] jugeshraghav opened #476 "The content of signup page is overflowing from the signup page."
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-07-02 16:14] jugeshraghav commented on #476
Can I work on the issue.

[2021-07-02 16:40] vraj291 opened #477 "Making the Contact and Sign Up pages mobile responsive"
## 🐛 Bug Report

The contact and sign in pages are not responsive with respect to a mobile view. The Contact page has unpleasantly sized input fields. The Sign Up page has content being hidden due to restrictive size of the parent element.

## Relevant screenshots

![music-err-1](https://user-images.githubusercontent.com/57657071/124305033-294bd880-db82-11eb-83ed-9b1372d21911.jpg)
![music-err-2](h

[2021-07-02 16:42] vraj291 commented on #477
I would like to work on this issue.

[2021-07-03 02:05] SilverGraph commented on #474
/assign

[2021-07-03 05:50] Sanyam17-beep commented on #477
/assign

[2021-07-03 06:11] vraj291 commented on #477
I have already made a PR. Kindly review it.

[2021-07-03 07:19] priyakumari02 commented on #476
Can I work on this issue

[2021-07-03 09:03] girija0707 commented on #475
/assign

[2021-07-03 09:25] padmajabhol commented on #131
Interested if this is still open.

[2021-07-03 10:08] niloysikdar commented on #131
Sure @padmajabhol , waiting to see some significant changes from your side.

[2021-07-03 10:10] niloysikdar commented on #475
Assigned @girija0707

[2021-07-03 10:14] #477 closed

[2021-07-03 10:21] niloysikdar commented on #476
You can make some changes on the SignUp Page if you want @jugeshraghav, but make sure to make only valid changes.

[2021-07-03 15:44] bharth-stack commented on #454
Kk I will submit it by Monday

[2021-07-04 07:53] #354 closed

[2021-07-04 08:03] #43 closed

[2021-07-04 08:05] #242 closed

[2021-07-04 08:05] #160 closed

[2021-07-04 08:06] #23 closed

[2021-07-04 08:07] #353 closed

[2021-07-04 08:08] #346 closed

[2021-07-04 08:08] #337 closed

[2021-07-04 08:08] #25 closed

[2021-07-04 09:30] supzi-del opened #479 "Add a transition for contact us button"
## 🚀 Feature
The button in the contact us page does not have a transition like that of the login page

## Motivation

Better UI

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-07-04 09:30] supzi-del commented on #479
/assign

[2021-07-04 09:32] supzi-del commented on #479
Working on this under LGMSOC

[2021-07-04 09:44] #252 closed

[2021-07-04 14:03] #474 closed

[2021-07-05 06:09] #479 closed

[2021-07-05 15:43] bharth-stack commented on #454
![Screenshot (166)](https://user-images.githubusercontent.com/74871715/124495417-b3d84600-ddd5-11eb-8b1b-d9b22d653133.png)

can't able push the project

[2021-07-05 16:00] bharth-stack commented on #454
https://bharth-stack.github.io/Piano-game/
this is the link of project

[2021-07-06 13:39] girija0707 commented on #475
I'm trying this by display block, inline block as well as flex but its not working will you please suggest something

[2021-07-06 13:55] niloysikdar commented on #475
What are you trying to achieve @girija0707 ?

[2021-07-06 14:38] girija0707 commented on #475
I was trying media queries so when we see the about page on phone the cards will appear one below the other because now the page  appears similar to laptop site

[2021-07-06 18:57] RituCs commented on #355
Sorry for the late.I was busy for final sem exam. Can you please tell exactly what I have to do with the button in  Login Page?@niloysikdar @nilisha-jais

[2021-07-07 05:10] #453 closed

[2021-07-07 08:02] RiyaGupta89 opened #484 "Space between navbar and main section"
Can I add some space below the navbar as it will make things more clean and enhance user experience. I will add it in home page, login page and contact us page.

## Screenshot

![music](https://user-images.githubusercontent.com/72425181/124722374-9dda9a80-df27-11eb-9462-39ee0ab5933f.png)

[2021-07-07 16:22] Srit20 commented on #341
my work is going on

[2021-07-07 17:28] niloysikdar commented on #484
Assigned @RiyaGupta89 , go ahead.

[2021-07-08 06:13] RiyaGupta89 opened #486 "Card hover"
![card](https://user-images.githubusercontent.com/72425181/124871309-865fe800-dfe1-11eb-8f57-122001bab749.png)
On hover these card gets bigger and I think not much space is present in the page therefore to make the UI better, on hover we should have effect that makes the card look smaller. If you think this is relevant issue, please assign me this issue.

[2021-07-08 13:57] supzi-del opened #487 "Add a smooth scroll behaviour"
## 🚀 Feature

When the back-to-top button is clicked, it harshly moves to the top. Hence I would like to add a smooth scroll behavior

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-07-08 13:57] supzi-del commented on #487
I want to work on this under LGMSOC

[2021-07-08 16:05] #335 closed

[2021-07-08 16:12] geniusbharti opened #488 "Sign In Button Hover"
## 🐛 Sign In Button Hover
Inside the login page, the sign-in button hovers color is red which looks odd concerning the green UI.
I would like to change it to a color suitable to the UI, a shade of green.
Assign me this issue.

[2021-07-09 05:49] Srijan1878 opened #491 "Fixing the contact us page"
## 🐛 Bug Report
The input fields are blending with the background and also the google social icon is not showing up

## Add relevant screenshot or video (if any)

![Screenshot (327)](https://user-images.githubusercontent.com/80585719/125029522-714d8c80-e0a7-11eb-8ef6-e60330b449fa.png)

[2021-07-09 05:50] Srijan1878 commented on #491
/assign

[2021-07-09 12:30] bhoskarpooja commented on #488
/assign

[2021-07-09 16:46] Sejal2801 commented on #486
assign it to me

[2021-07-10 02:37] harshita2216 commented on #131
Any progress on this, @padmajabhol?

[2021-07-10 02:39] harshita2216 commented on #341
Great! Keep us updated. Thanks. @Srit20

[2021-07-10 02:41] harshita2216 commented on #355
@niloysikdar, please have a look.
If it's working fine then we can close this issue.

[2021-07-10 02:42] harshita2216 commented on #426
@jugeshraghav, any update on this?

[2021-07-10 02:45] harshita2216 commented on #454
@bharth-stack, please give us an update on this? Otherwise, we'll have to unassign you.

[2021-07-10 04:13] gunjan-g commented on #475
Can I take up this issue if it's still open, please assign it to me

[2021-07-10 04:16] gunjan-g commented on #486
I would like to work on this issue, please assign it to me

[2021-07-10 04:48] Khushi-agarwal opened #493 "About us cards hover"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I would like to add flip card animation effect on the cards present in the about section similiar to the cards in the home section.
Please assign me this issue under lgm-soc.

[2021-07-10 04:52] Khushi-agarwal commented on #493
/assign

[2021-07-10 07:18] girija0707 commented on #475
Will you please suggest something for this

[2021-07-10 07:29] gunjan-g commented on #475
Yes sure, could you show me the code you're writing for this

[2021-07-10 09:48] gunjan-g commented on #475
/assign

[2021-07-10 09:50] gunjan-g commented on #486
/assign

[2021-07-10 11:13] gunjan-g opened #494 "Changed fonts and improving the horizontal line design"
## 🚀 Feature

Changing heading fonts to this to make the design look creative
![image](https://user-images.githubusercontent.com/81305824/125163490-fe2d3e80-e1aa-11eb-9478-74e438234dc6.png)

The line is looking somewhat dull in comparison to the background
![image](https://user-images.githubusercontent.com/81305824/125160968-4cd3dc00-e19d-11eb-9dc9-b32a87a3163e.png)

## Motivation
User Interface D

[2021-07-10 11:13] gunjan-g commented on #494
\assign

[2021-07-10 11:14] gunjan-g commented on #494
/assign

[2021-07-10 13:08] gunjan-g opened #496 "Aligning the font to center in about section"
## 🚀 Feature
The text is not evenly aligned on the website in about section

## Pitch
It is a good developer practice to properly align the text

## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/81305824/125164089-105cac00-e1ae-11eb-9cf8-042a483fe482.png)

[2021-07-10 13:09] gunjan-g commented on #496
/assign

[2021-07-10 21:29] jugeshraghav commented on #426
hi @harshita sorry for being too late. Can I continue working on the issue.

[2021-07-10 21:34] niloysikdar commented on #426
Do you want to continue your work on this issue @jugeshraghav ?

[2021-07-10 21:44] jugeshraghav commented on #426
Yes, please!

On Sun, Jul 11, 2021, 03:04 Niloy Sikdar ***@***.***> wrote:

[2021-07-10 21:45] #494 closed

[2021-07-10 21:46] niloysikdar commented on #426
No worries, go ahead @jugeshraghav

[2021-07-10 21:49] #496 closed

[2021-07-10 21:51] #493 closed

[2021-07-11 09:23] gunjan-g commented on #488
I would like to work on this issue if no one else is working on it.

[2021-07-11 09:37] padmajabhol commented on #131
Yes, I m working on it, was a bit unwell. Will send the PR by tonight!

[2021-07-11 09:38] harshita2216 commented on #131
@padmajabhol, no problem. Please take your time. Take care! 😊

[2021-07-11 14:02] gunjan-g opened #499 "Inappropriate spacing of navbar and unresponsive toggle button"
## 🐛 Bug Report
The navbar doesn't contain space on left and the toggle button are not visible on mobile version

## Add relevant screenshot or video (if any)

Inappropriate spacing of navbar:
![image](https://user-images.githubusercontent.com/81305824/125198227-a7913480-e27e-11eb-9854-0999da4e7598.png)

Toggle button is almost not visible:
![image](https://user-images.githubusercontent.com/813058

[2021-07-11 14:03] gunjan-g commented on #499
/assign

[2021-07-11 14:04] gunjan-g commented on #499
@niloysikdar @harshita2216 Please assign me this issue

[2021-07-11 14:48] #484 closed

[2021-07-11 14:57] #486 closed

[2021-07-11 16:18] #499 closed

[2021-07-11 16:52] #491 closed

[2021-07-11 18:47] gunjan-g opened #504 "Changed scroll bar of home page to match it with other sections"
## 🚀 Feature
The scrollbar of other sections are different form that of home page

## Motivation
UI Design

## Pitch
To maintain consistency

## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/81305824/125206759-7d536d00-e2a6-11eb-9680-db9fd857492d.png)

![image](https://user-images.githubusercontent.com/81305824/125206770-85aba800-e2a6-11eb-9078-e8f938

[2021-07-11 18:47] gunjan-g commented on #504
/assign

[2021-07-11 18:49] gunjan-g commented on #504
@harshita2216 @niloysikdar please assign the label so that i can work on it

[2021-07-11 19:30] niloysikdar commented on #504
Make the Scrollbar Green for all pages @gunjan-g .

[2021-07-11 19:33] #487 closed

[2021-07-11 19:44] gunjan-g commented on #504
sure

[2021-07-12 03:59] bharth-stack commented on #454
reassign me today I will push

[2021-07-12 04:18] bharth-stack commented on #454
reassign me today I will push

[2021-07-12 04:48] #131 closed

[2021-07-12 04:50] #504 closed

[2021-07-12 04:55] nilisha-jais opened #507 "Fix the footer in Contact and Login page"
The footer in Contact page is overlapping with the content and there's extra space below the footer in Login page.

[2021-07-12 05:00] MukulKolpe commented on #507
Hey @nilisha-jais, can I work on this issue under LGM-SOC??

[2021-07-12 05:03] gunjan-g commented on #507
I want to work on this issue

[2021-07-12 05:03] gunjan-g commented on #507
/assign

[2021-07-12 05:17] nilisha-jais commented on #507
@MukulKolpe commented first so he should get a chance to work. You can take any other issue @gunjan-g

[2021-07-12 05:21] gunjan-g commented on #507
yes ok

[2021-07-12 15:13] gunjan-g opened #509 "Unresponsive navbar"
## 🐛 Bug Report
1. The navbar is not responsive at mobile view
2. Contact and login page don't have the same effect on toggle view

## Add relevant screenshot or video (if any)
Not responsive:
![image](https://user-images.githubusercontent.com/81305824/125312049-91a07400-e351-11eb-82da-b43d96513053.png)

Different Effects:
![image](https://user-images.githubusercontent.com/81305824/125312175-ada41

[2021-07-12 15:13] gunjan-g commented on #509
/assign

[2021-07-12 15:13] gunjan-g commented on #509
@harshita2216 Please label the issue so I can work upon this

[2021-07-12 15:45] Pratik57 opened #510 "AddSearchBar"
## 🚀 Feature

A search bar for ArtistDetails

## Pitch

You can find out easily what you are looking for

Assign me this issue under LGMSOC21

[2021-07-12 15:45] Pratik57 commented on #510
/assign

[2021-07-13 04:42] nik464 commented on #509
please assign this issue to me. I will surely complete this.

[2021-07-13 04:44] harshita2216 commented on #509
Hey. This is already assigned at the moment. If the assigned person is unable to solve the issue for some reason, we'll be considering you next!
Thanks, @nik464.

[2021-07-13 04:45] nik464 commented on #475
please assign this issue. I am from lgm soc.

[2021-07-13 10:34] gunjan-g opened #512 "Changing scrollbar for various sections inside home page"
## 🚀 Features
Styling scrollbar for various sub-sections in home page

## Pitch
To make it consistent with all other sections

## Add relevant screenshot or video (if any)
![image](https://user-images.githubusercontent.com/81305824/125437601-5f7e666c-e59b-475e-9366-30f4571f8fa6.png)

![image](https://user-images.githubusercontent.com/81305824/125437631-b2960d6e-433e-4feb-972a-75e75eae488d.png)

![

[2021-07-13 10:35] gunjan-g commented on #512
/assign

[2021-07-13 10:35] gunjan-g commented on #512
@harshita2216 Please add the label so that i can work on this issue

[2021-07-13 10:42] #488 closed

[2021-07-13 10:53] #509 closed

[2021-07-13 15:52] gunjan-g commented on #475
I think the page is already responsive, we don't need to change anything.

[2021-07-14 03:57] #512 closed

[2021-07-14 07:49] sanketcharanpahadi commented on #341
can I work on this issue @niloysikdar ?

[2021-07-14 08:21] harshita2216 commented on #341
@sanketcharanpahadi, We would be assigning in case @Srit20 is not working on this issue anymore.
@Srit20, please give us some updates?

[2021-07-14 10:36] Srit20 commented on #341
i have tried a lot but i can't solve please assign to other .

[2021-07-14 10:45] harshita2216 commented on #341
Okay @Srit20, no issues at all. Thanks for informing.
@sanketcharanpahadi, you can now work on this issue.

[2021-07-14 11:43] nisha331 opened #514 "spacing and sizing changes"
## 🐛 Bug Report

* A relatively narrow navbar would look more  elegant .
* The spacing between the section end and topic is to wide.

## Add relevant screenshot or video (if any)
![Capture](https://user-images.githubusercontent.com/76838660/125616469-5677eb72-b890-4a73-a36a-1f6324cdc8c1.PNG)

[2021-07-14 11:45] nisha331 commented on #514
/assign

[2021-07-15 13:08] #507 closed

[2021-07-15 22:06] gunjan-g opened #517 "Space in footer in mobile view"
## 🚀 Feature
Less space inside footer in mobile view for contact section

## Pitch
To maintain consistency between all the pages and to make the footer look neater

## Add relevant screenshot or video (if any)
**Contact Section Footer:**
![image](https://user-images.githubusercontent.com/81305824/125863767-fd5709f8-98ef-4030-86fb-b75df84cc02f.png)

**Login Section Footer:**
![image](https://user-i

[2021-07-15 22:06] gunjan-g commented on #517
/assign

[2021-07-15 22:06] gunjan-g commented on #517
@harshita2216 please add the label

[2021-07-16 06:01] saloni-15 opened #518 "UI needs to be improved."
## 🐛 Bug Report

1. The color combination for the website (particularly the navbar color) doesn't look nice.
2. Typography -> Fonts are not used properly, many fonts are used for a single page.
3. Navbar is not looking very engaging at all.

![image](https://user-images.githubusercontent.com/75828760/125899070-da7ff76d-61cb-4c8d-967f-71cc52244716.png)

[2021-07-16 06:02] saloni-15 commented on #518
/assign

[2021-07-16 18:00] jugeshraghav commented on #426
I have created database using mongo compass. what do i do next ? can i deploy it as it is or i have to do something else.
@niloysikdar

[2021-07-16 18:58] gunjan-g commented on #517
@harshita2216 @niloysikdar please add the label of LGM-SOC

[2021-07-16 20:36] niloysikdar commented on #426
@nilisha-jais kindly look into this

[2021-07-17 05:39] nilisha-jais commented on #426
@jugeshraghav have you used node.js MongoDB connectivity to insert and retrieve data or php MongoDB

[2021-07-17 05:40] jugeshraghav commented on #426
Yes

On Sat, Jul 17, 2021, 11:09 Nilisha Jaiswal ***@***.***>
wrote:

[2021-07-17 08:28] nilisha-jais commented on #426
ok then deploy it. Let's see!

[2021-07-17 19:26] #517 closed

[2021-07-17 19:39] #518 closed

[2021-07-17 19:49] niloysikdar opened #521 "[BUG] Redirecting to Homepage"
## 🐛 Bug Report

Clicking the logo on the Navbar of each and every page should redirect us to the homepage.  Currently, it is doing nothing. Please fix this.

[2021-07-17 19:51] niloysikdar commented on #454
Do you still want to work on this @bharth-stack ?
Then we will reassign you.

[2021-07-17 19:51] niloysikdar commented on #355
Okay @harshita2216

[2021-07-17 19:51] #355 closed

[2021-07-18 03:24] saloni-15 commented on #521
/assign

[2021-07-18 09:42] #341 closed

[2021-07-18 09:45] #521 closed

[2021-07-18 15:59] gunjan-g commented on #475
/assign

[2021-07-19 04:12] bharth-stack commented on #454
yup I want to work on this.

[2021-07-19 06:13] nilisha-jais opened #525 "Remove the word THEME from theme switcher button"
In the theme switcher button on navbar we do not need the word "THEME". Remove it

[2021-07-19 06:16] anushruti11 commented on #525
I would like to  fix this.

[2021-07-19 06:26] mrunankpawar commented on #525
/assign

[2021-07-19 06:46] niloysikdar commented on #525
Assigned @anushruti11

[2021-07-20 02:08] #525 closed

[2021-07-22 05:06] #510 closed

[2021-07-22 06:35] mrunankpawar opened #529 "Changing placeholder text in Contact Us"
## 🐛 Bug Report

Changing the placeholder text from 'msg' to 'message'

[2021-07-22 06:42] mrunankpawar commented on #529
/assign

[2021-07-22 06:46] mrunankpawar opened #530 "Footer in the About"
## 🐛 Bug Report

The social media icons hover effect in the 'About' section is not working properly due to overlapping the 'Dance' and 'Band' cards.

[2021-07-22 06:46] mrunankpawar commented on #530
/assign

[2021-07-23 06:00] #530 closed

[2021-07-23 09:01] nisha331 commented on #514
Hey mentors and project admin . I think there is nothing much to be done in the  issue as the problems mentioned are already solved in another pr . So I am closing this issue.

[2021-07-23 09:01] #514 closed

[2021-07-24 05:31] siddhi-244 commented on #475
I would like to try this  @niloysikdar

[2021-07-24 07:30] niloysikdar commented on #475
Assigned @siddhi-244

[2021-07-24 07:34] siddhi-244 commented on #475
Thanks. Will work on it.

[2021-07-24 09:48] siddhi-244 commented on #475
![IMG-20210724-WA0008](https://user-images.githubusercontent.com/69195262/126864757-d6b2dbb5-73b8-46b6-924e-d21a46e6a0a4.jpeg)
Is this okayy?

[2021-07-24 09:51] siddhi-244 commented on #475
@niloysikdar

[2021-07-24 10:57] #475 closed

[2021-07-24 11:00] niloysikdar commented on #426
I think we don't need any kind of database for the users, I am really unable to find a use case for the database :) @nilisha-jais look into this and you can close the issue if you also think the same.

[2021-07-24 13:20] nilisha-jais commented on #426
Yes, I too am finding no use of it. @jugeshraghav if you wish you can implement google sign in!

[2021-07-24 13:20] #426 closed

[2021-07-26 18:00] aashimawadhwa opened #533 "Text is not aligned in the card on hovering"
When hovering on the card the text on the front side of the card is mirrored on the back side of card and is not readable and does not look presentable.

![Screenshot from 2021-07-26 23-26-19](https://user-images.githubusercontent.com/73706697/127036077-b6c31302-34bb-40fb-90a0-c07b6176d445.png)

Assign this issue to me please , I want to work on it  under LGMSOC'21.

[2021-07-27 11:11] Cartikx3 commented on #533
/assign

[2021-07-28 06:43] Cartikx3 commented on #533
please assign this to me

[2021-07-28 06:45] aashimawadhwa commented on #533
I'm already working on it @Cartikx3

[2021-07-28 17:49] aashimawadhwa commented on #533
/assign

[2021-07-29 14:53] #529 closed

[2021-07-29 17:37] #533 closed

[2021-07-29 17:39] niloysikdar commented on #476
Closing this

[2021-07-29 17:39] #476 closed

[2021-07-29 22:18] aashimawadhwa opened #536 "Card text mirroring in the about page"
When cards in above pages are hovered the text in front get mirrored .
## Screenshot
![Screenshot from 2021-07-30 03-25-26](https://user-images.githubusercontent.com/73706697/127572677-e3cd0599-e321-4044-9e52-27fa2f722982.png)

please assign this issue to me under LGMSOC'21

[2021-07-29 22:20] aashimawadhwa commented on #536
/assign

[2021-07-30 06:43] mrunankpawar opened #537 "Change the position of Password field icon"
## 🐛 Bug Report

The password field icon on the Login page is not aligned with the Password text field.

## Add relevant screenshot or video (if any)

![issue-musicophilia](https://user-images.githubusercontent.com/65391854/127612032-7692dd99-2392-4e7c-b2bf-d3de7fa66b43.PNG)

[2021-07-30 06:44] mrunankpawar commented on #537
/assign

[2021-08-01 05:38] #454 closed

[2021-08-04 12:30] arpitv970 opened #539 "Remove duplicate scroll up button"
## 🐛 Bug Report

There exist a duplicate scroll up button behind the chat-bot icon

## Screenshot

![image](https://user-images.githubusercontent.com/73063553/128179805-c34b678b-26e0-405f-a3f3-d616858d4269.png)

[2021-08-04 12:32] arpitv970 commented on #539
/assign

[2021-08-06 11:53] #539 closed

[2021-08-06 11:58] #537 closed

[2021-08-10 17:31] #536 closed

[2021-09-15 03:49] SriSatyaT opened #542 "Quick links in the footer"
## 🚀 Feature
adding quick links at the footer is a great way inorder to redirect into the other page.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Add relevant screenshot or video (if any)

(Add here)

[2021-10-16 00:02] riyajha2305 commented on #542
Is this issue still open?If yes, can I be assigned?